<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>
<style>
@import './assets/lib/font-awesome/css/font-awesome.css';
@import './assets/lib/Ionicons/css/ionicons.css';
@import './assets/lib/perfect-scrollbar/css/perfect-scrollbar.css';
@import './assets/lib/jquery-toggles/toggles-full.css';
@import './assets/lib/rickshaw/rickshaw.min.css';
@import './assets/css/amanda.css';
</style>
