<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>  
    <div class="am-pagetitle">
      <h5 class="am-title">Accidente Laboral</h5>
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">Accidente Laboral</h6>

          <div class="row">
            <div class="col-lg">
              <input class="form-control" v-model="val.per_primernombre" placeholder="Trabajador" type="text" required />
            </div>
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <input class="form-control" v-model="val.per_numeroid" placeholder="Documento" type="text" required />
            </div>
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <input class="form-control" v-model="val.emp_nombre" placeholder="Empleador" type="text" required />
            </div>
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <input class="form-control" placeholder="Código reporte" type="text" required />
            </div>
          </div>
          <br /><br />
          <div class="card pd-10 pd-sm-20 mg-t-20">
            <h2 class="card-body-title">INFORME DE ACCIDENTE DE TRABAJO DEL EMPLEADOR O CONTRATANTE</h2>
            <br /><br />
            <form @submit.prevent="guardar()" name="forma">
<!--        <vsa-list>
              <vsa-item>
                <vsa-heading>!-->
                    <h2>Afiliaciones</h2>
                    <!--</vsa-heading>
                <vsa-content> !-->
                <div class="row">
                    <div class="col-lg-12">
                      <select class="form-control" v-model="val.ideps" id="eps" name="eps" required>
                          <option value="">EPS del Afiliado Código</option>
                          <option
                            v-for="ep in geps"
                            :key="ep.ideps"
                            :value="ep.ideps"
                          >
                          {{ ep.eps_nombre }}
                          </option>
                      </select><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <select class="form-control" v-model="val.idarls" id="arl" name="arl" required>
                            <option vaule="">ARL del Afiliado Código</option>
                            <option v-for="ar in garl"
                              :key="ar.idarls"
                              :value="ar.idarls">
                              {{ ar.arl_nombre }}
                            </option>
                        </select><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Seguro social<br>
                      <div class="row">
                          <div class="col-lg-3">Si</div>
                          <div class="col-lg-3"><input class="form-control" value="Si" type="radio" ></div>
                          <div class="col-lg-3">No</div>
                          <div class="col-lg-3"><input checked class="form-control" value="No" type="radio" ></div>
                      </div>
                    </div>
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                       <input class="form-control" placeholder="Cuál" id="cual" name="cual" type="text">
                       <br>
                       <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <select class="form-control" v-model="val.idafps" id="afp" name="afp" required>
                            <option vaule="">AFP del Afiliado</option>
                            <option v-for="af in gafp"
                              :key="af.idafps"
                              :value="af.idafps">
                              {{ af.afp_nombre }}
                            </option>
                        </select><br>
                    </div>
                </div><!--
                </vsa-content>
              </vsa-item>
              <vsa-item>
                <vsa-heading>!--><h2> I. Identificación General</h2><!-- </vsa-heading>
                <vsa-content> !-->
                                <h6>I. IDENTIFICACIÓN GENERAL DEL EMPLEADOR, CONTRATANTE O COOPERATIVA</h6>  
                <div class="row">
                    <div class="col-lg-6">
                        <h6>Tipo de vinculador laboral</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-8">Empleador</div>
                            <div class="col-lg-4"><input v-model="val.afi_tipovinculacion" class="form-control" value="Empleador" type="radio" required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Contratante</div>
                            <div class="col-lg-4"><input v-model="val.afi_tipovinculacion" class="form-control" value="Contratante" type="radio" required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Cooperativa de trabajo asociado</div>
                            <div class="col-lg-4"><input v-model="val.afi_tipovinculacion" class="form-control" value="Cooperativa de trabajo asociado" type="radio" required></div>
                            <br><br>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">SEDE PRINCIPAL</h6><br>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-lg-8">
                       <input type="text" class="form-control" v-model="val.emp_actividad" required id="actec" name="actec" placeholder="Nombre de la actividad económica">
                    </div>
                    <div class="col-lg-4">
                       <input type="number" class="form-control" id="codac" v-model="val.emp_codactividad" required name="codac" placeholder="Código"><br>
                     </div>
                 </div>    
                 <div class="row">
                    <div class="col-lg-6">
                       <input type="text" class="form-control" v-model="val.emp_nombre" required id="nombr" name="nombr" placeholder="Nombre Razón social">
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" required>
                            <option vaule="NI" selected>NI</option>
                            <option vaule="CC">CC</option>
                            <option vaule="CE">CE</option>
                            <option vaule="NU">NU</option>
                            <option vaule="PA">PA</option>
                        </select><br>
                     </div>
                     <div class="col-lg-4">
                        <input type="text" class="form-control" v-model="val.emp_nit" required id="ndoc" name="ndoc" placeholder="Número">
                     </div>
                  </div>    

                  <div class="row">
                    <div class="col-lg-6">
                       <input type="text" class="form-control" id="dire" v-model="val.emp_direccion" name="dire" placeholder="Dirección" required>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" id="zona" name="zona" required>
                            <option vaule="U" selected>Urbana</option>
                            <option vaule="R">Rural</option>
                        </select><br>
                     </div>
                  </div>    
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">CENTRO DE TRABAJO DONDE LABORA EL TRABAJADOR</h6><br>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-9">
                        ¿SON LOS DATOS DEL CENTRO DE TRABAJO LOS MISMOS DE LA SEDE PRINCIPAL? <br>
                        <span style="font-size:10px;">Solo en caso negativo diligenciar las siguientes casillas del centro de trabajo</span>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input checked class="form-control" value="Si" type="radio" required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input class="form-control" value="No" type="radio" required></div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                       <input type="text"  v-model="val.emp_actividad" class="form-control" id="actc" name="actc" placeholder="Nombre de la actividad económica del Centro de Trabajo">
                    </div>
                    <div class="col-lg-4">
                        <input type="text"  v-model="val.emp_codactividad" class="form-control" id="cact" name="cact" placeholder="Código de actividad"><br>
                    </div>
                  </div>    
                  <div class="row">
                    <div class="col-lg-6">
                       <input type="text" v-model="val.emp_direccion" class="form-control" id="dir2" name="dir2" placeholder="Dirección">
                    </div>
                     <div class="col-lg-2">
                        <select class="form-control" id="zon2" name="zon2" required>
                            <option vaule="U" selected>Urbana</option>
                            <option vaule="R">Rural</option>
                        </select><br>
                     </div>
                  </div>   <!--     
                </vsa-content>
              </vsa-item>
              <vsa-item>
                <vsa-heading>!--> <h2> II. Información de la persona accidentada</h2> <!--</vsa-heading>
                <vsa-content> 
                            !-->    <h6>II. INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ</h6>  
                <div class="row">
                    <div class="col-lg-6">
                        <h6>TIPO DE VINCULADOR LABORAL</h6>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-8">Planta</div>
                            <div class="col-lg-4"><input v-model="val.per_tipovinculacion" class="form-control" value="Planta" type="radio"  required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Misión</div>
                            <div class="col-lg-4"><input v-model="val.per_tipovinculacion" class="form-control" value="Misión" type="radio"  required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Cooperado</div>
                            <div class="col-lg-4"><input v-model="val.per_tipovinculacion" class="form-control" value="Cooperado" type="radio"  required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Estudiante/Aprendíz</div>
                            <div class="col-lg-4"><input v-model="val.per_tipovinculacion" class="form-control" value="Estudiante/Aprendíz" type="radio"  required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Independiente</div>
                            <div class="col-lg-4"><input v-model="val.per_tipovinculacion" class="form-control" value="Independiente" type="radio"  required></div>
                            <br><br>
                        </div>    
                      </div>
                      <div class="col-lg-2">
                        <input type="text" class="form-control" v-model="val.per_tipoid" required id="coda" name="coda" placeholder="Código">
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                       <input type="text" class="form-control" v-model="val.per_primerapellido" required id="ape1" name="ape1" placeholder="Primer Apellido">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" v-model="val.per_segundoapellido" id="ape2" name="ape2" placeholder="Segundo Apellido">
                     </div>
                     <div class="col-lg-3">
                        <input type="text" class="form-control" v-model="val.per_primernombre" required id="nom1" name="nom1" placeholder="Primer Nombre">
                     </div>
                     <div class="col-lg-3">
                        <input type="text" class="form-control" v-model="val.per_segundonombre" id="nom2" name="nom2" placeholder="Segundo Nombre"><br>
                     </div>
                </div>    
                <div class="row">
                    <div class="col-lg-2">
                        <select class="form-control"  required>
                            <option vaule="">Tipo identificación</option>
                            <option vaule="NI">NI</option>
                            <option vaule="CC" selected>CC</option>
                            <option vaule="CE">CE</option>
                            <option vaule="NU">NU</option>
                            <option vaule="PA">PA</option>
                        </select><br>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" v-model="val.per_numeroid" required id="docp" name="docp" placeholder="Documento">
                     </div>
                     <div class="col-lg-4">Fecha nacimiento<br>
                        {{val.per_nacimiento | formatDate }}

                        <input type="date" class="form-control" v-model="val.per_nacimiento " required id="fnac" name="fnac" placeholder="Fecha de nacimiento"><br>
                     </div>
                     <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-8">Hombre</div>
                            <div class="col-lg-4"><input v-model="val.per_genero" class="form-control" value="Hombre" type="radio"  required></div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-8">Mujer</div>
                            <div class="col-lg-4"><input v-model="val.per_genero" class="form-control" value="Mujer" type="radio"  required></div>
                        </div>    
                      </div>
                </div>    
                <div class="row">
                    <div class="col-lg-6">
                       <input type="text" v-model="val.per_direccion" class="form-control" id="dirp" name="dirp" placeholder="Dirección" required>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" v-model="val.per_telefono" required class="form-control" id="telp" name="telp" placeholder="Teléfono">
                        <br>
                     </div>
                     <div class="col-lg-3">
                        <input type="text" class="form-control" id="faxp" name="faxp" placeholder="Fax">
                        <br>
                     </div>
                </div>    
                <div class="row">
                    <div class="col-lg-5">
                        <select class="form-control" v-model="val.iddepartamentos" id="depa" name="depa" required>
                            <option vaule="">Departamento</option>
                            <option v-for="de in gdep"
                              :key="de.iddepartamentos"
                              :value="de.iddepartamentos">
                              {{ de.dep_nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control" v-model="val.idciudades" id="ciud" name="ciud" required>
                            <option vaule="">Municipio</option>
                            <option v-for="ci in gciu"
                              :key="ci.idciudades"
                              :value="ci.idciudades">
                              {{ ci.mun_nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" required>
                            <option vaule="U" selected>Urbana</option>
                            <option vaule="R">Rural</option>
                        </select><br>
                     </div>
                </div>    
                <div class="row">
                    <div class="col-lg-5">
                       <input type="text" v-model="val.per_cargo" class="form-control" id="carg" name="carg" placeholder="Cargo que desempeña">
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" id="ocup" name="ocup" placeholder="Ocupación Habitual"><br>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" id="codc" name="codc" placeholder="Código"><br>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-5">
                       Tiempo de ocupación habitual al momento del accidente
                    </div>
                    <div class="col-lg-2">
                        <input type="number" class="form-control" id="dias" name="dias" placeholder="DD" required>
                        <br>
                     </div>
                     <div class="col-lg-2">
                        <input type="number" class="form-control" id="mese" name="mese" placeholder="MM" required>
                        <br>
                     </div>
                     <div class="col-lg-3">Fecha de ingreso a la empresa
                        <input type="date" class="form-control" id="fvin" v-model="val.afi_fechaafiliacion" name="fvin" placeholder="Fecha de ingreso a la empresa" required>
                     </div>
                </div>    
                <div class="row">
                    <div class="col-lg-5">
                        <input type="number" class="form-control" required v-model="val.afi_ibc" id="sala" name="sala" placeholder="Salario u horonarios">
                        <br>
                     </div>
                     <div class="col-lg-3">
                        <select class="form-control" id="zon3" name="zon3" required>
                            <option vaule="Diurna" selected>Diurna</option>
                            <option vaule="Nocturna">Nocturna</option>
                            <option vaule="Mixto">Mixto</option>
                            <option vaule="Turnos">Turnos</option>
                        </select><br>
                     </div>
                </div>   <!-- 
                </vsa-content>
              </vsa-item>
              <vsa-item>
                    <vsa-heading> !--><h2>III. Información del accidente</h2> <!-- </vsa-heading>
                    <vsa-content> !-->
                <h6>III. INFORMACIÓN SOBRE EL ACCIDENTE</h6>  
                <div class="row">
                    <div class="col-lg-3">Fecha del accidente
                        <input type="date" v-model="sin.sin_fecha" class="form-control" id="feca" name="feca" placeholder="Fecha del accidente" required><br>
                    </div>
                    <div class="col-lg-3">Hora del accidente
                        <div class="row">
                            <div class="col-lg-6"><input v-model="sin.si1_hors" class="form-control" type="number" id="hora" placeholder="HH" name="hora" required></div>
                            <div class="col-lg-6"><input v-model="sin.si1_mins" class="form-control" type="number" id="mins" name="mins" placeholder="MM" required></div>
                        </div>    
                      </div>
                      <div class="col-lg-6">Jornada de trabajo habitual
                        <div class="row">
                            <div class="col-lg-3">Normal</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_jornada" value="Normal" id="jorn" name="jorn" type="radio" required></div>
                            <div class="col-lg-3">Extra</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_jornada" value="Extra" id="jorn" name="jorn" type="radio"  required></div>
                        </div><br>
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">¿Estaba realizando su labor habitual?
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_laboral" id="labo" name="labo" value="Si" type="radio"  required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_laboral" id="labo" name="labo" value="No" type="radio"  required></div>
                        </div>
                    </div>    
                    <div class="col-lg-5">
                        <input type="text" class="form-control" v-model="sin.sin_otra" id="cua2" name="cua2" placeholder="Cúal (diligenciar en caso negativo)">
                     </div>
                     <div class="col-lg-2">
                        <input type="text" class="form-control" v-model="sin.sin_codigo" id="codj" name="codj" placeholder="Código"><br>
                     </div>
                 </div>    
                 <div class="row">
                    <div class="col-lg-3">Tiempo laborado previo al accidente
                        <div class="row">
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_tiempolaborprev" type="number" id="hola" name="hola" placeholder="HH" required></div>
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_tiempolaborprev1" type="number" id="mila" name="mila" placeholder="MM" required><br></div>
                            
                        </div>
                    </div>
                 </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">Causa del accidente</h6><br>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-6">Violencia</div>
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_causal" type="radio" id="caua" name="caua"  value="Violencia" required></div>
                            <div class="col-lg-6">Tránsito</div>
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_causal" type="radio" id="caua" name="caua"  value="Tránsito" required></div>
                            <div class="col-lg-6">Deportivo</div>
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_causal" type="radio" id="caua" name="caua"  value="Deportivo" required></div>
                            <div class="col-lg-6">Recreativo/Cultural</div>
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_causal" type="radio" id="caua" name="caua"  value="Recreativo/Cultural" required></div>
                            <div class="col-lg-6">Propio del trabajo</div>
                            <div class="col-lg-6"><input class="form-control" v-model="sin.sin_causal" type="radio" id="caua" name="caua"  value="Propio del trabajo" required></div>
                        </div>
                    </div>
                    <div class="col-lg-4"><b>¿Causó la muerte al trabajador?</b>
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_muerte" value="Si" id="muer" name="muer" type="radio"  required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_muerte" value="No" id="muer" name="muer" type="radio"  required><br></div>
                        </div>
                        <br><br>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-5">
                            <select class="form-control" id="dep2" name="dep2" required>
                                <option vaule="">Departamento</option>
                                <option v-for="dp in gdep"
                                :key="dp.iddepartamentos"
                                :value="dp.iddepartamentos">
                                {{ dp.dep_nombre }}
                                </option>
                            </select>
                    </div>
                    <div class="col-lg-5">
                            <select class="form-control" v-model="sin.ciudades_idciudades" id="ciu2" name="ciu2" required>
                                <option vaule="">Municipio</option>
                                <option v-for="ci in gciu"
                                :key="ci.idciudades"
                                :value="ci.idciudades">
                                {{ ci.mun_nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" v-model="sin.sin_zona" id="zon4" name="zon4" required>
                                <option vaule="U">Urbana</option>
                                <option vaule="R">Rural</option>
                            </select><br>
                         </div>
                </div>    
                <div class="row">
                    <div class="col-lg-12">Lugar de ocurrencia
                        <div class="row">
                            <div class="col-lg-3">Dentro de la empresa</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_lugar" id="lug" name="luga" value="Dentro de la empresa" type="radio"  required></div>
                            <div class="col-lg-3">Fuera de la empresa</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_lugar" id="lug" name="luga" value="Fuera de la empresa" type="radio"  required><br></div>
                            <div class="col-lg-3">Trabajo en casa</div>
                            <div class="col-lg-3"><input class="form-control" v-model="sin.sin_lugar" id="lug" name="luga" value="Trabajo en casa" type="radio"  required><br></div>
                        </div>
                        <br>
                     </div>
                </div>    
              <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">INDIQUE CUÁL SITIO</h6><br>
                    </div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Almacenes o depósitos</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" value="Almacenes o depósitos" type="radio" id="siti" name="siti"  required></div>
                <div class="col-lg-3">Áreas de producción</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" value="Áreas de producción" type="radio" id="siti" name="siti"   required><br></div>
                <div class="col-lg-3">Áreas recreativas o productivas</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" value="Áreas recreativas o productivas" id="siti" name="siti"  type="radio"  required><br></div>
               </div>    
               <div class="row">
                <div class="col-lg-3">Corredores o pasillos</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" id="siti" name="siti"  value="Corredores o pasillos" type="radio"  required></div>
                <div class="col-lg-3">Escaleras</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" id="siti" name="siti"   value="Escaleras" type="radio"  required><br></div>
                <div class="col-lg-3">Parqueadero o área de circulación vehicular</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" id="siti" name="siti"   value="Parqueadero o área de circulación vehicular" type="radio"  required><br></div>
               </div>    
               <div class="row">
                <div class="col-lg-3">Oficinas</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" id="siti" name="siti"  value="Oficinas" type="radio"  required></div>
                <div class="col-lg-3">Otras áreas comunes</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" id="siti" name="siti"   value="Otras áreas comunes" type="radio"  required><br></div>
                <div class="col-lg-3">Otro (especifique)</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_sitio" id="siti" name="siti"  value="Otro (especifique)" type="radio"  required><br></div>
               </div>
              <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">TIPO DE LESIÓN</h6><br>
                    </div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Fractura</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles"  value="TL1" type="radio" required></div>
                <div class="col-lg-3">Luxación</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL2" type="radio" required><br></div>
                <div class="col-lg-3">Torcedura, esguince, desgarro muscular, hernia o laceración del músculo o tendón sin herida </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL3" type="radio" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Conmoción o trauma interno</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL4" type="radio" required></div>
                <div class="col-lg-3">Amputación o enucleación (Exclusión o pérdida del ojo)  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL5" type="radio" required><br></div>
                <div class="col-lg-3">Herida</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL6" type="radio" required><br></div>
              </div>                   
              <div class="row">
                <div class="col-lg-3">Trauma superficial (Incluye rasguño, punción o pinchazo y lesión en ojo por cuerpo extraño)</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL7" type="radio" required></div>
                <div class="col-lg-3">Golpe, contusión o aplastamiento  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL8" type="radio" required><br></div>
                <div class="col-lg-3">Quemadura</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL9" type="radio" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Envenenamiento o intoxicación aguda o alergia</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL10" type="radio" required></div>
                <div class="col-lg-3">Efecto del tiempo, del clima u otro relacionado con el ambiente </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL11" type="radio" required><br></div>
                <div class="col-lg-3">Asfixia</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL12" type="radio" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Efecto de la electricidad</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL13" type="radio" required></div>
                <div class="col-lg-3">Efecto nocivo de la radicación </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL14" type="radio" required><br></div>
                <div class="col-lg-3">Lesiones múltiples</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL15" type="radio" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Otro. (Especifique)  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_tipolesion" id="tles" name="tles" value="TL16" type="radio" required></div>
              </div>    
              <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">PARTE DEL CUERPO AFECTADO</h6><br>
                    </div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Cabeza</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC1" type="radio" required></div>
                <div class="col-lg-3">Ojo</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC2" type="radio"  required><br></div>
                <div class="col-lg-3">Cuello </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC3" type="radio"  required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Tronco (Incluye espalda, columna vertebral, médula espinal, pélvis)  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC4" type="radio" required></div>
                <div class="col-lg-3">Tórax</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC5" type="radio" required><br></div>
                <div class="col-lg-3">Abdomen </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC6" type="radio" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Miembros superiores  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC7" type="radio" required></div>
                <div class="col-lg-3">Manos</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC8" type="radio" required><br></div>
                <div class="col-lg-3">Miembros inferiores </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC9" type="radio" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Pies  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC10" type="radio"  required></div>
                <div class="col-lg-3">Ubicaciones múltiples</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC11" type="radio"  required><br></div>
                <div class="col-lg-3">Lesiones generales u otras </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_parteafectada" id="parc" name="parc" value="PC12" type="radio"  required><br></div>
              </div>    
              <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">AGENTES DEL ACCIDENTE</h6><br>
                    </div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Máquinas y/o equipos</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG1" type="radio" id="agea" name="agea" required></div>
                <div class="col-lg-3">Medios de transporte</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG2" type="radio" id="agea" name="agea" required><br></div>
                <div class="col-lg-3">Aparatos </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG3" type="radio" id="agea" name="agea"  required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Herramientas, implementos o utensilios</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG4" type="radio" id="agea" name="agea"  required></div>
                <div class="col-lg-3">Materiales o sustancias</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG5" type="radio" id="agea" name="agea" required><br></div>
                <div class="col-lg-3">Radiaciones </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG6" type="radio" id="agea" name="agea"  required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Ambiente de trabajo (Incluye superficies de tránsito y de trabajo, muebles, tejados, en el exterior, interior o subterráneos)  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG7" type="radio" id="agea" name="agea"  required></div>
                <div class="col-lg-3">Otros agentes no clasificados</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG8" type="radio" id="agea" name="agea"  required><br></div>
                <div class="col-lg-3">Animales (Vivos o productos animales)   </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG9" type="radio" id="agea" name="agea"  required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Agentes no clasificados por falta de datos  </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_agente" value="AG10" type="radio" id="agea" name="agea"  required></div>
              </div>    

              <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">MECANISMO O FORMA</h6><br>
                    </div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Caída de personas</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME1" type="radio" id="meca" name="meca"  required></div>
                <div class="col-lg-3">Caída de objetos</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME2" type="radio" id="meca" name="meca"  required><br></div>
                <div class="col-lg-3">Sobreesfuerzo, esfuerzo excesivo o falso movimiento </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME3" type="radio" id="meca" name="meca"  required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Exposición o contacto con temperatura extrema</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME4" type="radio" id="meca" name="meca" required></div>
                <div class="col-lg-3">Pisadas, choques o golpes</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME5" type="radio" id="meca" name="meca" required><br></div>
                <div class="col-lg-3">Exposición o contacto con la electricidad </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME6" type="radio" id="meca" name="meca" required><br></div>
              </div>    
              <div class="row">
                <div class="col-lg-3">Atrapamientos</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME7" type="radio" id="meca" name="meca" required></div>
                <div class="col-lg-3">Exposición o contacto con sustancias novicas, radiaciones o salpicaduras</div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME8" type="radio" id="meca" name="meca" required><br></div>
                <div class="col-lg-3">Otro (especifique) </div>
                <div class="col-lg-1"><input class="form-control" v-model="sin.sin_mecanismo" value="ME9" type="radio" id="meca" name="meca" required><br></div>
              </div>    
                   <!--
                    </vsa-content>
              </vsa-item>
              <vsa-item>
                  <vsa-heading>!--><h2>IV. Descripción del accidente</h2><!--</vsa-heading>
                  <vsa-content>!-->
                <h6>IV. DESCRIPCIÓN DEL ACCIDENTE</h6>  
                <div class="row">
                    <div class="col-lg-12">DESCRIBA DETALLADAMENTE EL ACCIDENTE. QUÉ LO ORIGINO O CAUSÓ
                        <span style="font-size: 10px;"> (Responda a las preguntas qué paso, cuándo, dónde, cómo y por qué)</span><br>
                        <textarea class="form-control" v-model="sin.sin_descripcion" id="desc" name="desc" required></textarea><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">PERSONAS QUE PRESENCIARON EL ACCIDENTE</h6><br>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-6">¿Hubo personas que presenciaron el accidente?
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input class="form-control" value="Si" type="radio" id="htes" name="htes" required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input class="form-control" value="No" type="radio" id="htes" name="htes" required><br></div>
                        </div>
                        <br>
                     </div>
                     <div class="col-lg-6">Solo en caso afirmativo diligenciar la siguiente información</div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <input class="form-control" v-model="tes.tes_nombre" placeholder="Apellidos y Nombres completos" type="text" id="tes1" name="tes1">
                    </div>    
                    <div class="col-lg-3">
                        <input class="form-control" v-model="tes.tes_cargo" placeholder="Cargo" type="tec1" id="tec1" name="tes1">
                    </div>    
                    <div class="col-lg-2">
                        <select class="form-control" v-model="tes.tes_tipodoc" id="ttd1" name="ttd1">
                            <option vaule="">Tipo identificación</option>
                            <option vaule="NI" selected>NI</option>
                            <option vaule="CC">CC</option>
                            <option vaule="CE">CE</option>
                            <option vaule="NU">NU</option>
                            <option vaule="PA">PA</option>
                        </select><br>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" v-model="tes.tes_documento" class="form-control" id="ted1" name="ted1" placeholder="Documento"><br>
                     </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <input class="form-control" v-model="tes1.tes_nombre" placeholder="Apellidos y Nombres completos" type="text" id="tes2" name="tes2">
                    </div>    
                    <div class="col-lg-3">
                        <input class="form-control" v-model="tes1.tes_cargo" placeholder="Cargo" type="tec1" id="tec2" name="tes2">
                    </div>    
                    <div class="col-lg-2">
                        <select class="form-control" v-model="tes1.tes_tipodoc" id="ttd2" name="ttd2">
                            <option vaule="">Tipo identificación</option>
                            <option vaule="NI">NI</option>
                            <option vaule="CC">CC</option>
                            <option vaule="CE">CE</option>
                            <option vaule="NU">NU</option>
                            <option vaule="PA">PA</option>
                        </select><br>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" v-model="tes1.tes_documento" class="form-control" id="ted2" name="ted2" placeholder="Documento"><br>
                     </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6 style="background-color:#b82b37; color:white; padding: 5px;">PERSONA RESPONSABLE DEL INFORME</h6><br>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-4">
                        <input class="form-control" v-model="sin.sin_responsable" placeholder="Apellidos y Nombres completos" type="text" id="resp" name="resp">
                    </div>    
                    <div class="col-lg-3">
                        <input class="form-control" v-model="sin.sin_cargoresponsable" placeholder="Cargo" type="tec1" id="cres" name="cres">
                    </div>    
                    <div class="col-lg-2">
                        <select class="form-control" id="tres" name="tres" required>
                            <option vaule="">Tipo identificación</option>
                            <option vaule="NI">NI</option>
                            <option vaule="CC">CC</option>
                            <option vaule="CE">CE</option>
                            <option vaule="NU">NU</option>
                            <option vaule="PA">PA</option>
                        </select><br>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" v-model="sin.sin_documentoresponsable" class="form-control" id="dres" name="dres" placeholder="Documento"><br>
                     </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">Fecha de diligenciamiento del informe<br>
                        <input class="form-control" v-model="sin.sin_fechadiagnostico" type="date" id="fdil" name="fdil" required><br>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-lg-6">Firma<br>
                    </div>
                    <div class="col-lg-6">Antes de continuar, por favor verifique que la información es correcta<br>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6" align="right"><br>
                        <input type="submit" class="btn btn-info pd-x-20" value="Guardar Cambios" />
                    </div>
                </div>
                 <!--
                  </vsa-content>
              </vsa-item>
            </vsa-list> !-->
            </form>
          </div>
        </div>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import siniestros1 from "../models/siniestros1";
import testigos from "../models/testigos";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "accidente_laboral",
  mounted() {
        this.getdatos();
        this.geteps();
        this.getarl();
        this.getafp();
        this.getdpt();
        this.getciu();
  },
  data() {
    return {
      val: [],
      geps: [],
      garl: [],
      gafp: [],
      gdep: [],
      gciu: [],
      sin: new siniestros1("","","","","",
      "","","","","",
      "","","","","",
      "","","","","",
      "","","","","",
      "","","","","", "", "", ""),
      tes: new testigos("","","","",""),
      tes1: new testigos("","","","",""),
    };
  },
  methods: {
    getdatos() {
      var documento = this.$route.query.cedula;
      axios.get(global.url + "vista_personas/Consulta/" + documento ).then((res) => {
        if (res.data) {
          this.val = res.data;
        }
      });
    },
    geteps(){
        axios.get(global.url + "eps/listar").then((res) => {
            if (res.data) {
                this.geps = res.data;
                console.log(this.geps);
            }
        });
    },
    getarl(){
        axios.get(global.url + "arls/listar").then((res) => {
            if (res.data) {
                this.garl = res.data;
                console.log(this.garl);
            }
        });
    },
    getafp(){
        axios.get(global.url + "afps/listar").then((res) => {
            if (res.data) {
                this.gafp = res.data;
                console.log(this.gafp);
            }
        });
    },
    getdpt(){
        axios.get(global.url + "departamentos/listar").then((res) => {
            if (res.data) {
                this.gdep = res.data;
                console.log(this.gdep);
            }
        });
    },
    getciu(){
        axios.get(global.url + "ciudades/listar").then((res) => {
            if (res.data) {
                this.gciu = res.data;
                console.log(this.gciu);
            }
        });
    },
    guardar() {
      var me=this.sin;
      console.log(me.sin_fecha +" "+me.si1_hors+":"+ me.si1_mins+":00");

      axios
        .post(global.url + "siniestros/Crear/" , {
            'personas_idpersonas': this.val.idpersonas,
            'ciudades_idciudades': me.ciudades_idciudades,
            'sin_fecha': me.sin_fecha +" "+me.si1_hors+":"+ me.si1_mins+":00",
            'sin_tipoatep': "FURAT",
            'sin_jornada': me.sin_jornada,
            'sin_laboral': me.sin_laboral, 
            'sin_otra' : me.sin_otra,
            'sin_codigo' : me.sin_codigo,
            'sin_tiempolaborprev': me.sin_tiempolaborprev +":"+ me.sin_tiempolaborprev1, 
            'sin_causal': me.sin_causal,
            'sin_muerte': me.sin_muerte,
            'sin_sitio': me.sin_sitio,
            'sin_tipolesion': me.sin_tipolesion,
            'sin_parteafectada': me.sin_parteafectada,
            'sin_agente': me.sin_agente,
            'sin_lugar': me.sin_lugar,
            'sin_mecanismo': me.sin_mecanismo,
            'sin_descripcion': me.sin_descripcion, 
            'sin_responsable': me.sin_responsable,
            'sin_nombreresponsable': me.sin_responsable,
            'sin_cargoresponsable': me.sin_cargoresponsable,
            'sin_documentoresponsable': me.sin_documentoresponsable,
            'sin_fechadiagnostico': me.sin_fechadiagnostico,
            'sin_diagnosticadapor': "",
            'sin_diagnostico': "", 
            'sin_regmedico': "",
            'sin_nombremedico': "",
            'sin_evalmedicapre': "",
            'sin_evalmedicaper': "",
            'sin_evalmedicaegre': "",
            'sin_zona': me.sin_zona,
        })
        .then((res) => {
            console.log(res);    
            axios.get(global.url + "siniestros/consulta/" + this.val.idpersonas).then((res) => {
                if (res.data) {
                    if(this.tes.tes_nombre!=""){   
                        this.tes.siniestros_idsiniestros=res.data.idsieniestros;
                        console.log(this.tes);  
                        axios
                            .post(global.url + "testigos/Crear/" , this.tes)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }

                    if(this.tes1.tes_nombre!=""){        
                        this.tes1.siniestros_idsiniestros=res.data.idsieniestros;
                        axios
                            .post(global.url + "testigos/Crear/" , this.tes1)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                }
            });
            swal("Siniestro creado", "Se ha creado correctamente el siniestro", "success");
            this.$router.push("./radicacion");
        })
        .catch((error) => {
          swal("Siniestro no creado", "Hubo un error al crear el siniestro", "Error");
          console.log(error);
          this.$router.push("./radicacion");
        });
    },
  }
};
</script>