<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-pagetitle">
      <h5 class="am-title">Consultas</h5>
      <form id="searchBar" class="search-bar" action="inicio">
        <div class="form-control-wrapper">
          <input
            type="search"
            class="form-control bd-0"
            placeholder="Buscar..."
          />
        </div>
        <!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange">
          <i class="fa fa-search" style="color: #fff"></i>
        </button>
      </form>
      <!-- search-bar -->
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">Consultas</h6>
          <form @submit.prevent="consultas()" name="forma">

            <div class="row">
                <div class="col-lg-3">Fecha incial
                    <input v-model="fecha1" class="form-control" type="date">
                </div>
                <div class="col-lg-3">Fecha final
                    <input v-model="fecha2" class="form-control" type="date">
                </div>
                <div class="col-lg-3">Estado
                    <select v-model="estado" class="form-control">
                    <option>Seleccione...</option>
                    <option v-for="est in estados" :key="est" :value="est">
                      {{ est }}
                    </option>
                  </select>

                </div>
                <div class="col-lg-3">
                    <br><input type="submit" class="btn btn-info pd-x-20" value="Consultar">
                </div>
            </div>
            <br><br>
          </form>

          <div class="table-wrapper" id="tablas">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th>Nombre</th><th>Identificación</th><th>Tipo de siniestro</th><th>Fecha</th>
                  <th>Estado</th><th>Reporte</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="sin in siniestros" v-bind:key="sin.idsiniestros">
                  <td>{{ sin.per_primernombre }} {{ sin.per_primerapellido }}</td>
                  <td>{{ sin.per_numeroid }}</td><td>{{ sin.sin_tipoatep }}</td>
                  <td>{{ sin.sin_fecha | moment('DD MMM YYYY')}}</td>
                  <td align='center'>
                      <div v-if="sin.sin_estado=='ACEPTADO'" style="background-color:#1ECD1A; color:#FFF;">
                        {{ sin.sin_estado }}
                      </div>
                      <div v-else-if="sin.sin_estado=='OBJETADO'" style="background-color:#EF2C13; color:#FFF;">
                        {{ sin.sin_estado }}
                      </div>
                      <div v-else style="background-color:#DFAF13; color:#FFF;">
                        {{ sin.sin_estado }}
                      </div>
                  </td>
                  <td align="center">
                    <router-link :to="{ name: 'detalle_siniestro', params: { sin: sin.idsiniestros } }">
                      Ver informe</router-link>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-wrapper -->
        </div>
        <!-- card -->
      </div>
      <!-- am-pagebody -->
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "consulta",
  mounted() {
    this.getdatos();
  },
  data() {
    return {
      siniestros: [],
      fecha1:'',
      fecha2:'',
      estado:'',
      estados: ['RESERVADO', 'ACEPTADO', 'OBJETADO']
    };
  },
  methods: {
    getdatos() {
      axios.get(global.url + "vista_siniestros/listar").then((res) => {
        if (res.data) {
          this.siniestros = res.data;
          console.log(res.data);
        }
      });
    },
    consultas() {

      var formatted_date = new Date().toJSON().slice(0,10).replace(/-/g,'-');
      console.log(formatted_date);

      if(this.estado==""){
          this.estado="RESERVADO";
      }
      if(this.fecha1==""){
          this.fecha1=formatted_date;
      }
      if(this.fecha2=="")
      {
          this.fecha2=formatted_date;
      }

      axios.get(global.url + "vista_siniestros/Consulta_estado/"
      + this.estado + "/" + this.fecha1 + "/" + this.fecha2 ).then((res) => {
        if (res.data) {
          this.siniestros = res.data;
          console.log(res.data);
        }
      });
    },
  },
};
</script>