<template>
  <div class="am-mainpanel">
    <div class="am-pagebody">
      <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Municipios</h6>

        <button
          class="btn btn-primary btn-block mg-b-2"
          style="width: 250px"
          onclick="pop_dis2('0', 'Municipio');"
        >
          <i class="icon ion-plus-circled"></i> Agregar municipio
        </button>

        <div class="table-wrapper" id="tablas"></div>
        <!-- table-wrapper -->
      </div>
      <!-- card -->
    </div>
    <!-- am-pagebody -->
  </div>
</template>

<script>
export default {
  name: "Contenido",
};
</script>