<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar tipo de monitoreo
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar tipo de monitoreo
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Código</div>
                <div class="col-md-5">
                  <input v-model="ser.ser_codigo" class="form-control" required type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Descripción</div>
                <div class="col-md-5">
                  <input v-model="ser.ser_descripcion" class="form-control" required type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">CUPS</div>
                <div class="col-md-5">
                  <input v-model="ser.ser_cups" class="form-control" required type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">CUM</div>
                <div class="col-md-5">
                  <input v-model="ser.ser_cum" class="form-control" required type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Estado</div>
                <div class="col-md-5">
                  <select v-model="ser.ser_estado" class="form-control" required >
                      <option value="Activo">Activo</option>
                      <option value="Inactivo">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Prioridad</div>
                <div class="col-md-5">
                  <select v-model="ser.ser_prioridad" class="form-control" required >
                      <option value="Alta">Alta</option>
                      <option value="Media">Media</option>
                      <option value="Baja">Baja</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">PBS</div>
                <div class="col-md-5">
                  <input v-model="ser.ser_pbs" class="form-control" required type="text" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/servicios">Cancelar</router-link>
              <input type="submit" class="btn btn-info pd-x-20" value="Guardar Cambios" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import serv from "../models/servicios";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "crearservicio",
  data() {
    return {
      ser: new serv( "", "", "", "", "", "", ""),
      isEdit: false,
    };
  },
  mounted() {
  },
  methods: {
    guardar() {
      axios
        .post(global.url + "servicios/Crear/" , this.ser)
        .then((res) => {
          console.log(res);
          swal("Servicio creado", "Se ha creado correctamente el servicio", "success");
          this.$router.push("./servicios");
        })
        .catch((error) => {
          swal("Servicio no creado", "Hubo un error al crear el servicio", "Error");
          console.log(error);
          this.$router.push("./servicios");
        });
    },
  },
};
</script>