<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar EPS
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar EPS
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Código</div>
                <div class="col-md-5">
                  <input
                    v-model="eps.eps_codigo"
                    name="param1"
                    id="param1"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre EPS</div>
                <div class="col-md-5">
                  <input
                    v-model="eps.eps_nombre"
                    name="param2"
                    id="param2"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/eps"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from 'axios';
import global from '../global';
import epss from "../models/eps";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "creararl",
  data() {
    return {
      eps: new epss("", ""),
      isEdit: false,
    };
  },
  methods: {
    guardar() {
        axios.post(global.url+"eps/crear", this.eps).then(res =>{
            console.log(res);
            swal(
                'EPS creada',
                'Se ha creado la EPS correctamente',
                'success'
            )
            this.$router.push("./eps");
        });
    },
  },
};
</script>