<template>  
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar Factor de riesgo
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar Factor de riesgo
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Nombre Factor</div>
                <div class="col-md-5">
                  <input
                    v-model="fac.fac_codigo"
                    name="param1"
                    id="param1"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/factores"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from 'axios';
import global from '../global';
import factores from "../models/factores";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "crearfactores",
  data() {
    return {
      fac: new factores(""),
      isEdit: false,
    };
  },
  methods: {
    guardar() {
        axios.post(global.url+"factoress/crear", this.fac).then(res =>{
            console.log(res);
            swal(
                'Factor de riesgo creado',
                'Se ha creado el factor de riesgo correctamente',
                'success'
            )
            this.$router.push("./factores");
        });
    },
  },
};
</script>