<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar departamento
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar departamento
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Código</div>
                <div class="col-md-5">
                  <input
                    v-model="dto.dep_codigo"
                    name="param2"
                    id="param2"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre departamento</div>
                <div class="col-md-5">
                  <input
                    v-model="dto.dep_nombre"
                    name="param3"
                    id="param3"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/ciudades"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import dpto from "../models/dpto";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "creardpto",
  data() {
    return {
      dto: new dpto("", ""),
      isEdit: false,
    };
  },
  mounted() {
  },
  methods: {
    guardar() {
      axios
        .post(global.url + "departamentos/Crear/" , this.dto)
        .then((res) => {
          console.log(res);
          swal("Departamento creado", "Se ha creado correctamente el departamento", "success");
          this.$router.push("./departamentos");
        })
        .catch((error) => {
          swal("Departamento no creado", "Hubo un error al crear el departamento", "Error");
          console.log(error);
          this.$router.push("./departamentos");
        });
    },
  },
};
</script>