<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar Empresa
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar Empresa
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Municipio</div>
                <div class="col-md-5">
                  <select
                    v-model="emp.ciudades_idciudades"
                    class="form-control"
                    required
                  >
                    <option>Seleccione...</option>
                    <option
                      v-for="ciu in ciud"
                      :key="ciu.idciudades"
                      :value="ciu.idciudades"
                    >
                      {{ ciu.mun_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">ARL</div>
                <div class="col-md-5">
                  <select
                    v-model="emp.arl_idarl"
                    class="form-control"
                    required
                  >
                    <option>Seleccione...</option>
                    <option
                      v-for="arl in arls"
                      :key="arl.idarl"
                      :value="arl.idarl"
                    >
                      {{ arl.arl_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre empresa</div>
                <div class="col-md-5"><input v-model="emp.emp_nombre" class="form-control" required type="text"/></div>
              </div>

              <div class="row">
                <div class="col-md-5">NIT empresa</div>
                <div class="col-md-5"><input v-model="emp.emp_nit" class="form-control" required type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Email</div>
                <div class="col-md-5"><input v-model="emp.emp_email" class="form-control" required type="mail"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Teléfono</div>
                <div class="col-md-5"><input v-model="emp.emp_telefono" class="form-control" required type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Dirección</div>
                <div class="col-md-5"><input v-model="emp.emp_direccion" class="form-control" required type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Actividad</div>
                <div class="col-md-5"><input v-model="emp.emp_actividad" class="form-control" required type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Código Actividad</div>
                <div class="col-md-5"><input v-model="emp.emp_codactividad" class="form-control" required type="text"/></div>
              </div>

            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/empresas"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import empresa from "../models/empresas";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "crearempresa",
  data() {
    return {
      emp: new empresa("", "", "","", "", "","", "", "",""),
      isEdit: true,
      ciud: [],
      arls: [],
    };
  },
  mounted() {
    axios.get(global.url + "ciudades/listar").then((res) => {
      if (res.data) {
        this.ciud = res.data;
      }
    });
    axios.get(global.url + "arls/listar").then((res) => {
      if (res.data) {
        this.arls = res.data;
      }
    });
  },
  methods: {
    guardar() {
        console.log(this.emp);
      axios
        .post(global.url + "empresas/Crear/" , this.emp)
        .then((res) => {
          console.log(res);
          swal("Empresa creada", "Se ha creado correctamente la empresa", "success");
          this.$router.push("./empresas");
        })
        .catch((error) => {
          swal("Empresa no creada", "Hubo un error al crear la empresa", "Error");
          console.log(error);
          this.$router.push("./empresas");
        });
    },
  },
};
</script>