<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar Persona
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar Persona
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Empresa</div>
                <div class="col-md-5">
                  <select v-model="per.empresas_idempresas" class="form-control" required >
                    <option>Seleccione...</option>
                    <option
                      v-for="emp in empr"
                      :key="emp.idempresas"
                      :value="emp.idempresas">
                      {{ emp.emp_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">AFP</div>
                <div class="col-md-5">
                  <select
                    v-model="per.afps_idafps"
                    class="form-control"
                    required
                  >
                    <option>Seleccione...</option>
                    <option
                      v-for="afp in afps"
                      :key="afp.idafps"
                      :value="afp.idafps"
                    >
                      {{ afp.afp_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Tipo documento</div>
                <div class="col-md-5">
                    <select v-model="per.per_tipoid" class="form-control">
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Documento</div>
                <div class="col-md-5"><input v-model="per.per_numeroid" class="form-control" required type="text"/></div>
              </div>

              <div class="row">
                <div class="col-md-5">Primer nombre</div>
                <div class="col-md-5"><input v-model="per.per_primernombre" class="form-control" required type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Segundo nombre</div>
                <div class="col-md-5"><input v-model="per.per_segundonombre" class="form-control" type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Primer apellido</div>
                <div class="col-md-5"><input v-model="per.per_primerapellido" class="form-control" required type="text"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Segundo apellido</div>
                <div class="col-md-5"><input v-model="per.per_segundoapellido" class="form-control" type="text"/></div>
              </div>

              <div class="row">
                <div class="col-md-5">Fecha de nacimiento</div>
                <div class="col-md-5"><input v-model="per.per_nacimiento" class="form-control" required type="date"/></div>
              </div>
              <div class="row">
                <div class="col-md-5">Género</div>
                <div class="col-md-5">
                    <select v-model="per.per_genero" class="form-control">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/personas">Cancelar</router-link>
              <input type="submit" class="btn btn-info pd-x-20" value="Guardar Cambios"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import persona from "../models/personas";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "crearpersona",
  data() {
    return {
      per: new persona("", "", "","", "", "","", "", "","", ""),
      empr: [],
      afps: [],
    };
  },
  mounted() {
    axios.get(global.url + "empresas/listar").then((res) => {
      if (res.data) {
        this.empr = res.data;
      }
    });
    axios.get(global.url + "afps/listar").then((res) => {
      if (res.data) {
        this.afps = res.data;
      }
    });
  },
  methods: {
    guardar() {
        console.log(this.emp);
      axios
        .post(global.url + "personas/Crear/" , this.emp)
        .then((res) => {
          console.log(res);
          swal("Persona creada", "Se ha creado correctamente la persona", "success");
          this.$router.push("./personas");
        })
        .catch((error) => {
          swal("Persona no creada", "Hubo un error al crear la persona", "Error");
          console.log(error);
          this.$router.push("./personas");
        });
    },
  },
};
</script>