<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-pagetitle">
      <h5 class="am-title">Departamentos</h5>
      <form id="searchBar" class="search-bar" action="inicio">
        <div class="form-control-wrapper">
          <input
            type="search"
            class="form-control bd-0"
            placeholder="Buscar..."
          />
        </div>
        <!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange">
          <i class="fa fa-search" style="color: #fff"></i>
        </button>
      </form>
      <!-- search-bar -->
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">Departamentos</h6>

          <router-link
            class="btn btn-primary btn-block mg-b-2"
            style="width: 250px"
            to="/creardpto"
          >
            <i class="icon ion-plus-circled"></i> Agregar Departamento
          </router-link>

          <div class="table-wrapper" id="tablas">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-20p">Código</th>
                  <th class="wd-40p">Departamento</th>
                  <th class="wd-20p">Editar</th>
                  <th class="wd-20p">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="dpto in dptos" v-bind:key="dpto.iddepto">
                  <td>{{ dpto.dep_codigo }}</td>
                  <td>{{ dpto.dep_nombre }}</td>
                  <td align="center">
                    <router-link
                      :to="{
                        name: 'editadpto',
                        params: { id: dpto.iddepartamentos },
                      }"
                    >
                      <i class="icon ion-edit"></i
                    ></router-link>
                  </td>
                  <td align="center">
                    <a href="#" @click="deletereg(dpto.iddepartamentos)">
                      <i class="icon ion-trash-b"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-wrapper -->
        </div>
        <!-- card -->
      </div>
      <!-- am-pagebody -->
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "departamentos",
  mounted() {
    this.getdatos();
  },
  data() {
    return {
      dptos: [],
    };
  },
  methods: {
    getdatos() {
      axios.get(global.url + "departamentos/listar").then((res) => {
        if (res.data) {
          this.dptos = res.data;
        }
      });
    },
    deletereg(id) {
      swal({
        title: "Está seguro?",
        text: "Una vez lo elimine no podrá recuperarlo!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios
            .delete(global.url + "departamentos/Eliminar/" + id)
            .then((res) => {
              console.log(res);
              swal(
                "Departamento eliminado",
                "Se ha eliminado el departamento",
                "success"
              );
              this.getdatos();
            });
        } else {
          swal("Eliminación cancelada");
        }
      });
    },
  },
};
</script>
