<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar usuario
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar usuario
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Roles</div>
                <div class="col-md-5">
                  <select
                    v-model="usu.roles_idroles"
                    name="param1"
                    id="param1"
                    class="form-control"
                    required
                  >
                    <option>Seleccione...</option>
                    <option
                      v-for="rol in roles"
                      :key="rol.idroles"
                      :value="rol.idroles"
                    >
                      {{ rol.rol_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre</div>
                <div class="col-md-5">
                  <input
                    v-model="usu.usu_nombre"
                    name="param2"
                    id="param2"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Email</div>
                <div class="col-md-5">
                  <input
                    v-model="usu.usu_email"
                    name="param3"
                    id="param3"
                    class="form-control"
                    required
                    type="email"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Contraseña</div>
                <div class="col-md-5">
                  <input
                    v-model="usu.password"
                    name="param4"
                    id="param4"
                    class="form-control"
                    required
                    type="password"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Documento</div>
                <div class="col-md-5">
                  <input
                    v-model="usu.usu_documento"
                    name="param5"
                    id="param5"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Teléfono</div>
                <div class="col-md-5">
                  <input
                    v-model="usu.usu_telefono"
                    name="param6"
                    id="param6"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/usuarios"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import user from "../models/users1";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "editauser",
  data() {
    var idp = this.$route.params.id;
    return {
      usu: new user( idp,"", "", "","", "", "", true),
      isEdit: true,
      roles: [],
    };
  },
  mounted() {
    var idp = this.$route.params.id;
    this.vereditar(idp);
    axios.get(global.url + "roles/listar").then((res) => {
      if (res.data) {
        this.roles = res.data;
      }
    });
  },
  methods: {
    vereditar(idp) {
      axios.get(global.url + "users/mostrar/" + idp).then((res1) => {
        if (res1.data) {
          this.usu = res1.data;
        }
      });
    },

    guardar() {
      var idp = this.$route.params.id;
      console.log(this.usu);

    axios
        .put(global.url + "users/actualizar/" + idp, this.usu)
        .then((res) => {
          console.log(res);
          swal("Usuario editado", "Se ha editado correctamente el usuario", "success");
          this.$router.push("./usuarios");
        })
        .catch((error) => {
          swal("Usuario no editado", "Hubo un error al editar el usuario", "Error");
          console.log(error);
          this.$router.push("./usuarios");
        });
    },
  },
};
</script>