<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar ARL
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar ARL
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Código</div>
                <div class="col-md-5">
                  <input
                    v-model="arl.arl_codigo"
                    name="param1"
                    id="param1"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre ARL</div>
                <div class="col-md-5">
                  <input
                    v-model="arl.arl_nombre"
                    name="param2"
                    id="param2"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/arl"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import arls1 from "../models/arls1";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "editaarl",
  data() {
    var idp = this.$route.params.id;
    return {
      arl: new arls1( idp,"", ""),
      isEdit: true,
    };
  },
  mounted() {
    var idp = this.$route.params.id;
    this.vereditar(idp);
  },
  methods: {
    vereditar(idp) {
      axios.get(global.url + "arls/mostrar/" + idp).then((res1) => {
        if (res1.data) {
          this.arl = res1.data;
        }
      });
    },

    guardar() {
      var idp = this.$route.params.id;
          console.log(this.arl);

    axios
        .put(global.url + "arls/actualizar/" + idp, this.arl)
        .then((res) => {
          console.log(res);
          swal("ARL editada", "Se ha editado correctamente la ARL", "success");
          this.$router.push("./arl");
        })
        .catch((error) => {
          swal("ARL no editada", "Hubo un error al editar la ARL", "Error");
          console.log(error);
          this.$router.push("./arl");
        });
    },
  },
};
</script>