<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar ciudad
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar ciudad
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Departamento</div>
                <div class="col-md-5">
                  <select
                    v-model="ciud.departamentos_iddepartamentos"
                    name="param1"
                    id="param1"
                    class="form-control"
                    required
                  >
                    <option>Seleccione...</option>
                    <option
                      v-for="dpto in dptos"
                      :key="dpto.iddepartamentos"
                      :value="dpto.iddepartamentos"
                    >
                      {{ dpto.dep_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Código</div>
                <div class="col-md-5">
                  <input
                    v-model="ciud.mun_codigo"
                    name="param2"
                    id="param2"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre ciudad</div>
                <div class="col-md-5">
                  <input
                    v-model="ciud.mun_nombre"
                    name="param3"
                    id="param3"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/ciudades"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import ciudad from "../models/ciudad1";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "editaciudad",
  data() {
    var idp = this.$route.params.id;
    return {
      ciud: new ciudad( idp,"", "", ""),
      isEdit: true,
      dptos: [],
    };
  },
  mounted() {
    var idp = this.$route.params.id;
    this.vereditar(idp);
    axios.get(global.url + "departamentos/listar").then((res) => {
      if (res.data) {
        this.dptos = res.data;
      }
    });
  },
  methods: {
    vereditar(idp) {
      axios.get(global.url + "ciudades/mostrar/" + idp).then((res1) => {
        if (res1.data) {
          this.ciud=res1.data;
        }
      });
    },

    guardar() {
      var idp = this.$route.params.id;
      axios
        .put(global.url + "ciudades/actualizar/" + idp, this.ciud)
        .then((res) => {
          console.log(res);
          swal("Ciudad editada", "Se ha editado correctamente la ciudad", "success");
          this.$router.push("./ciudades");
        })
        .catch((error) => {
          swal("Ciudad no editada", "Hubo un error al editar la ciudad", "Error");
          console.log(error);
          this.$router.push("./ciudades");
        });
    },
  },
};
</script>