<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
    <div class="am-pagebody">
      <form @submit.prevent="guardar()" name="forma">
        <div class="modal-content tx-size-sm">
          <div class="modal-header pd-x-20">
            <h6 v-if="!isEdit" class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
              Agregar rol
            </h6>
            <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
              Editar rol
            </h6>
          </div>
          <div class="modal-body pd-20">
            <div class="row">
              <div class="col-md-5" style="padding: 5px">Nombre rol</div>
              <div class="col-md-5" style="padding: 5px; text-align: right">
                <input v-model="rol.rol_nombre" name="param1" 
                id="param1" class="form-control" required type="text" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <router-link class="btn btn-secondary pd-x-20" to="/roles">Cancelar</router-link>
            <input type="submit" class="btn btn-info pd-x-20" value="Guardar Cambios" />
          </div>
        </div>
      </form>
    </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import rol from "../models/rol1";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "editarrol",
  data() {
    var idp = this.$route.params.id;
    return {
      rol: new rol(idp, ""),
      isEdit: true,
    };
  },
  mounted() {
    var idp = this.$route.params.id;
    this.vereditar(idp);
  },

  methods: {
    vereditar(idp) {
      axios.get(global.url + "roles/mostrar/" + idp).then((res) => {
        if (res.data) {
          this.rol = res.data;
        }
      });
    },

    guardar() {
      var idp = this.$route.params.id;
      axios.put(global.url + "roles/Actualizar/"+ idp, this.rol).then((res) => {
        console.log(res);
        swal("Rol Editado", "Se ha editado correctamente el rol", "success");
        this.$router.push("./roles");
      })
      .catch(error => {
        swal("Rol No Editado", "Hubo un error al editar el rol", "error");
        this.$router.push("./roles");
        console.log(error);
      });
    },
  },
};
</script>