<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar IPS
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar IPS
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Ciudad</div>
                <div class="col-md-5">
                  <select
                    v-model="iips.ciudades_idciudades"
                    name="param1"
                    id="param1"
                    class="form-control"
                    required
                  >
                    <option>Seleccione...</option>
                    <option
                      v-for="ciud in ciudades"
                      :key="ciud.idciudades"
                      :value="ciud.idciudades"
                    >
                      {{ ciud.mun_nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">NIT</div>
                <div class="col-md-5">
                  <input
                    v-model="iips.ips_nit"
                    name="param2"
                    id="param2"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Nombre IPS</div>
                <div class="col-md-5">
                  <input
                    v-model="iips.ips_nombre"
                    name="param3"
                    id="param3"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Contacto</div>
                <div class="col-md-5">
                  <input
                    v-model="iips.ips_contacto"
                    name="param4"
                    id="param4"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Dirección</div>
                <div class="col-md-5">
                  <input
                    v-model="iips.ips_direccion"
                    name="param5"
                    id="param5"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Teléfono</div>
                <div class="col-md-5">
                  <input
                    v-model="iips.ips_telefono"
                    name="param6"
                    id="param6"
                    class="form-control"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Naturaleza</div>
                <div class="col-md-5">
                  <input
                    v-model="iips.ips_naturaleza"
                    name="param7"
                    id="param7"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/ips"
                >Cancelar</router-link
              >
              <input
                type="submit"
                class="btn btn-info pd-x-20"
                value="Guardar Cambios"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import ipss1 from "../models/ipss1";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "editaips",
  data() {
    var idp = this.$route.params.id;
    return {
      iips: new ipss1( idp,"", "", "","", "", "", ""),
      isEdit: true,
      ciudades: [],
    };
  },
  mounted() {
    var idp = this.$route.params.id;
    this.vereditar(idp);
    console.log(this.iips);
    axios.get(global.url + "ciudades/listar").then((res) => {
      if (res.data) {
        this.ciudades = res.data;
      }
    });
  },
  methods: {
    vereditar(idp) {
      axios.get(global.url + "ips/mostrar/" + idp).then((res1) => {
        if (res1.data) {
          this.iips = res1.data;
        }
      });
    },

    guardar() {
      var idp = this.$route.params.id;
          console.log(this.iips);

    axios
        .put(global.url + "ips/actualizar/" + idp, this.iips)
        .then((res) => {
          console.log(res);
          swal("IPS editada", "Se ha editado correctamente la IPS", "success");
          this.$router.push("./ips");
        })
        .catch((error) => {
          swal("IPS no editada", "Hubo un error al editar la IPS", "Error");
          console.log(error);
          this.$router.push("./ips");
        });
    },
  },
};
</script>