<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-mainpanel">
      <div class="am-pagebody">
        <form @submit.prevent="guardar()" name="forma">
          <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
              <h6
                v-if="!isEdit"
                class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
              >
                Agregar tipo de monitoreo
              </h6>
              <h6 v-else class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
                Editar tipo de monitoreo
              </h6>
            </div>
            <div class="modal-body pd-20">
              <div class="row">
                <div class="col-md-5">Código</div>
                <div class="col-md-5">
                  <input v-model="tip.tip_codigo" class="form-control" required type="text" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">Tipo de monitoreo</div>
                <div class="col-md-5">
                  <input v-model="tip.tip_descripcion" class="form-control" required type="text" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <router-link class="btn btn-secondary pd-x-20" to="/tipos_monitoreo">Cancelar</router-link>
              <input type="submit" class="btn btn-info pd-x-20" value="Guardar Cambios" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import tmoni from "../models/tmonitoreo1";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "editatmonitoreo",
  data() {
    var idp = this.$route.params.id;
    return {
      tip: new tmoni(idp, "", ""),
      isEdit: true,
    };
  },
  mounted() {
      var idp = this.$route.params.id;
      this.vereditar(idp);
  },
  methods: {
    vereditar(idp) {
      axios.get(global.url + "tipos_mmonitoreo/mostrar/" + idp).then((res1) => {
        if (res1.data) {
          this.tip = res1.data;
        }
      });
    },

    guardar() {
      var idp = this.$route.params.id;
      axios
        .put(global.url + "tipos_mmonitoreo/actualizar/" + idp, this.tip)
        .then((res) => {
          console.log(res);
          swal("Tipo de monitoreo editado", "Se ha editado correctamente el tipo de monitoreo", "success");
          this.$router.push("./tipos_monitoreo");
        })
        .catch((error) => {
          swal("Tipo de monitoreo no editado", "Hubo un error al editar el tipo de monitoreo", "Error");
          console.log(error);
          this.$router.push("./tipos_monitoreo");
        });
    },
  },
};
</script>