<template src="./crearroles.html">
</template>

<script>
import axios from 'axios';
import global from '../global';
//import rol from "../models/rol";
//import swal from "sweetalert";

export default {
  name: "Editar",
  props: ["id"],
  data(){
      return{
              rol_nombre:""
      }
  },
  mounted(){
    var idp= this.$route.params.id;
    this.vereditar(idp);
  },
  methods:{
      vereditar(idp){
        axios.get(global.url+"roles/mostrar/"+ idp).then(res =>{
          if(res.data){
            this.rol_nombre=res.data.rol_nombre;
          }
        });
      },
      guardar(){

      }
  }
};
</script>