<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>  
    <div class="am-pagetitle">
      <h5 class="am-title">Enfermedad Laboral</h5>
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">Enfermedad Laboral</h6>
          <div class="row">
            <div class="col-lg">
              <input class="form-control" v-model="val.per_primernombre" placeholder="Trabajador" type="text" required />
            </div>
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <input class="form-control" v-model="val.per_numeroid" placeholder="Documento" type="text" required />
            </div>
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <input class="form-control" v-model="val.emp_nombre" placeholder="Empleador" type="text" required />
            </div>
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <input class="form-control" placeholder="Código reporte" type="text" required />
            </div>
          </div>
          <br /><br />
          <div class="card pd-10 pd-sm-20 mg-t-20">
            <h2 class="card-body-title">INFORME DE ACCIDENTE DE TRABAJO DEL EMPLEADOR O CONTRATANTE</h2>
            <br /><br />
            <form @submit.prevent="guardar()" name="forma">

 <!--           <vsa-list>
              <vsa-item>
                <vsa-heading> !--> <h2>Afiliaciones </h2> <!--</vsa-heading>
                <vsa-content> !-->
                    <div class="row">
                        <div class="col-lg-12" id="eps_campo">
                        <select class="form-control" v-model="val.ideps" id="eps" name="eps" required>
                            <option value="">EPS del Afiliado Código</option>
                            <option
                                v-for="ep in geps"
                                :key="ep.ideps"
                                :value="ep.ideps"
                            >
                            {{ ep.eps_nombre }}
                            </option>
                        </select><br>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-12" id="arl_campo">
                        <select class="form-control" v-model="val.idarls" id="arl" name="arl" required>
                            <option vaule="">ARL del Afiliado Código</option>
                            <option v-for="ar in garl"
                              :key="ar.idarls"
                              :value="ar.idarls">
                              {{ ar.arl_nombre }}
                            </option>
                        </select><br>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-4">
                            Seguro social<br>
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input class="form-control" value="Si" type="radio"  ></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input class="form-control" value="No" type="radio" ></div>
                        </div>
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                        <input class="form-control" placeholder="Cuál" id="cual" name="cual" type="text">
                        <br>
                        <br>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-12" id="afp_campo">
                            <select class="form-control" v-model="val.idafps" id="afp" name="afp" required>
                                <option vaule="">AFP del Afiliado</option>
                                <option v-for="af in gafp"
                                :key="af.idafps"
                                :value="af.idafps">
                                {{ af.afp_nombre }}
                                </option>
                            </select><br>
                        </div><!-- col -->
                    </div><!-- row -->   <!--                 
                </vsa-content>
              </vsa-item>
              <vsa-item>
                <vsa-heading>!--> I. Identificación General <!-- </vsa-heading>
                <vsa-content> !-->
                    <h6>I. IDENTIFICACIÓN GENERAL DEL EMPLEADOR, CONTRATANTE O COOPERATIVA</h6>  
                    <div class="row">
                        <div class="col-lg-6">
                            <h6>Tipo de vinculador laboral</h6>
                        </div><!-- col -->
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-8">Empleador</div>
                                <div class="col-lg-4"><input class="form-control" id="tvin" name="tvin" v-model="val.afi_tipovinculacion" value="Empleador" type="radio" required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Contratante</div>
                                <div class="col-lg-4"><input class="form-control" id="tvin" name="tvin" v-model="val.afi_tipovinculacion" value="Contratante" type="radio" required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Cooperativa de trabajo asociado</div>
                                <div class="col-lg-4"><input class="form-control" id="tvin" name="tvin" v-model="val.afi_tipovinculacion" value="Cooperativa de trabajo asociado" type="radio"  required></div>
                                <br><br>
                            </div>    
                        </div><!-- col -->
                        
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h6 style="background-color:#b82b37; color:white; padding: 5px;">SEDE PRINCIPAL</h6><br>
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-lg-8">
                        <input type="text" class="form-control" v-model="val.emp_actividad" id="actec" name="actec" placeholder="Nombre de la actividad económica">
                        </div>
                        <div class="col-lg-4">
                        <input type="number" class="form-control" v-model="val.emp_codactividad" id="codac" name="codac" placeholder="Código"><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-6">
                        <input type="text" class="form-control" v-model="val.emp_nombre" id="nombr" name="nombr" placeholder="Nombre o Razón social Número">
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control"  required>
                                <option vaule="NI" selected>NI</option>
                                <option vaule="CC">CC</option>
                                <option vaule="CE">CE</option>
                                <option vaule="NU">NU</option>
                                <option vaule="PA">PA</option>
                            </select><br>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" v-model="val.emp_nit" class="form-control" id="ndoc" name="ndoc" placeholder="Número">
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-6">
                        <input type="text" v-model="val.emp_direccion" class="form-control" id="dire" name="dire" placeholder="Dirección" required>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" v-model="sin.sin_zona" id="zona" name="zona" required>
                                <option vaule="U" selected>Urbana</option>
                                <option vaule="R">Rural</option>
                            </select><br>
                        </div>
                    </div>    
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <h6 style="background-color:#b82b37; color:white; padding: 5px;">CENTRO DE TRABAJO DONDE LABORA EL TRABAJADOR</h6><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-9">
                            ¿SON LOS DATOS DEL CENTRO DE TRABAJO LOS MISMOS DE LA SEDE PRINCIPAL? <br>
                            <span style="font-size:10px;">Solo en caso negativo diligenciar las siguientes casillas del centro de trabajo</span>
                        </div><!-- col -->
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-3">Si</div>
                                <div class="col-lg-3"><input checked class="form-control" id="sede" name="sede" value="Si" type="radio" required></div>
                                <div class="col-lg-3">No</div>
                                <div class="col-lg-3"><input class="form-control" id="sede" name="sede" value="No" type="radio" required></div>
                            </div>
                            <br>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-8">
                        <input type="text" v-model="val.emp_actividad" class="form-control" placeholder="Nombre de la actividad económica del Centro de Trabajo">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" v-model="val.emp_codactividad" class="form-control" placeholder="Código de actividad"><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-6">
                        <input type="text" v-model="val.emp_direccion" class="form-control" id="dir2" name="dir2" placeholder="Dirección" required>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control" id="zon2" name="zon2" required>
                                <option selected vaule="U">Urbana</option>
                                <option vaule="R">Rural</option>
                            </select><br>
                        </div>
                    </div>    
 <!--
                </vsa-content>
              </vsa-item>
              <vsa-item>
                <vsa-heading> !--><h2> II. Información de la persona diagnosticada</h2>
                <!--
                 </vsa-heading>
                <vsa-content> !-->
                    <h6>II. INFORMACIÓN DE LA PERSONA DIAGNOSTICADA</h6>  
                    <div class="row">
                        <div class="col-lg-6">
                            <h6>TIPO DE VINCULADOR LABORAL</h6>
                        </div><!-- col -->
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-8">Planta</div>
                                <div class="col-lg-4"><input v-model="val.per_tipovinculacion" id="tvin" name="tvin" class="form-control" value="Planta" type="radio"  required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Misión</div>
                                <div class="col-lg-4"><input v-model="val.per_tipovinculacion" id="tvin" name="tvin" class="form-control" value="Misión" type="radio"  required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Cooperado</div>
                                <div class="col-lg-4"><input v-model="val.per_tipovinculacion" id="tvin" name="tvin" class="form-control" value="Cooperado" type="radio"  required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Estudiante/Aprendíz</div>
                                <div class="col-lg-4"><input v-model="val.per_tipovinculacion" id="tvin" name="tvin" class="form-control" value="Estudiante/Aprendíz" type="radio"  required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Independiente</div>
                                <div class="col-lg-4"><input v-model="val.per_tipovinculacion" id="tvin" name="tvin" class="form-control" value="Independiente" type="radio"  required></div>
                                <br><br>
                            </div>    
                        </div><!-- col -->
                        <div class="col-lg-2">
                            <input type="text" v-model="val.per_tipoid" class="form-control" id="coda" name="coda" placeholder="Código">
                        </div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-3">
                        <input type="text" class="form-control" v-model="val.per_primerapellido" id="ape1" name="ape1" placeholder="Primer Apellido">
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" v-model="val.per_segundoapellido" id="ape2" name="ape2" placeholder="Segundo Apellido">
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="nom1" v-model="val.per_primernombre" name="nom1" placeholder="Primer Nombre">
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="nom2" v-model="val.per_segundonombre" name="nom2" placeholder="Segundo Nombre"><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-2">
                            <select class="form-control"  required>
                                <option vaule="">Tipo identificación</option>
                                <option vaule="NI">NI</option>
                                <option vaule="CC" selected>CC</option>
                                <option vaule="CE">CE</option>
                                <option vaule="NU">NU</option>
                                <option vaule="PA">PA</option>
                            </select><br>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" v-model="val.per_numeroid" id="docp" name="docp" placeholder="Documento">
                        </div>
                        <div class="col-lg-4">Fecha nacimiento<br>
                            <input type="date" class="form-control" v-model="val.per_nacimiento" id="fnac" name="fnac" placeholder="Fecha de nacimiento"><br>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-8">Hombre</div>
                                <div class="col-lg-4"><input v-model="val.per_genero" id="sexo" name="sexo" class="form-control" value="Hombre" type="radio"  required></div>
                            </div>    
                            <div class="row">
                                <div class="col-lg-8">Mujer</div>
                                <div class="col-lg-4"><input v-model="val.per_genero" id="sexo" name="sexo" class="form-control" value="Mujer" type="radio"  required></div>
                            </div>    
                        </div><!-- col -->
                    </div>    
                    <div class="row">
                        <div class="col-lg-6">
                        <input type="text" v-model="val.per_direccion" class="form-control" id="dirp" name="dirp" placeholder="Dirección" required>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" v-model="val.per_telefono" class="form-control" id="telp" name="telp" placeholder="Teléfono">
                            <br>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="faxp" name="faxp" placeholder="Fax">
                            <br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-5" id="dep_campo">
                            <select class="form-control" v-model="val.iddepartamentos" id="depa" name="depa" required>
                                <option vaule="">Departamento</option>
                                <option v-for="de in gdep"
                                :key="de.iddepartamentos"
                                :value="de.iddepartamentos">
                                {{ de.dep_nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-5" id="ciu_campo">
                            <select class="form-control" v-model="val.idciudades" id="ciud" name="ciud" required>
                                <option vaule="">Municipio</option>
                                <option v-for="ci in gciu"
                                :key="ci.idciudades"
                                :value="ci.idciudades">
                                {{ ci.mun_nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control"  required>
                                <option vaule="U" selected>Urbana</option>
                                <option vaule="R">Rural</option>
                            </select><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-5">
                        <input type="text" v-model="val.per_cargo" class="form-control" id="carg" name="carg" placeholder="Cargo que desempeña">
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" id="ocup" name="ocup" placeholder="Ocupación Habitual"><br>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" id="codc" name="codc" placeholder="Código"><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-4">Fecha de ingreso a la empresa
                            <input type="date" v-model="val.afi_fechaafiliacion" class="form-control" id="fvin" name="fvin" placeholder="Fecha de ingreso a la empresa">
                        </div>
                        <div class="col-lg-4">
                            <input type="number" required v-model="val.afi_ibc" class="form-control" id="sala" name="sala" placeholder="Salario u horonarios">
                            <br>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control"  required>
                                <option vaule="Diurna" selected>Diurna</option>
                                <option vaule="Nocturna">Nocturna</option>
                                <option vaule="Mixto">Mixto</option>
                                <option vaule="Turnos">Turnos</option>
                            </select><br><br>
                        </div>
                    </div>    <!--
                </vsa-content>
              </vsa-item>
              <vsa-item>
                    <vsa-heading> !--> <h2>III. Información de la enfermedad</h2> <!-- </vsa-heading>
                    <vsa-content> !-->
                        <h6>III. INFORMACIÓN DE LA ENFERMEDAD</h6>  
                        <div class="row">
                            <div class="col-lg-7">
                                <input type="text" v-model="sin.sin_diagnostico" class="form-control" id="diag" name="diag" placeholder="Diagnóstico" required><br>
                            </div><!-- col -->
                            <div class="col-lg-5">
                            <input type="text" v-model="sin.sin_codigo" class="form-control" id="cdia" name="cdia" placeholder="Código diagnóstico" required><br>
                            </div>  
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-lg-9">Diagnosticada por
                                <div class="row">
                                    <div class="col-lg-3">MD EPS*</div>
                                    <div class="col-lg-3"><input id="diap" name="diap" v-model="sin.sin_diagnosticadapor" class="form-control" value="MD EPS" type="radio" required></div>
                                    <div class="col-lg-3">MD IPS*</div>
                                    <div class="col-lg-3"><input id="diap" name="diap" v-model="sin.sin_diagnosticadapor" class="form-control" value="MD IPS" type="radio" required></div>
                                    <div class="col-lg-3">MD ARF*</div>
                                    <div class="col-lg-3"><input id="diap" name="diap" v-model="sin.sin_diagnosticadapor" class="form-control" value="MD ARF" type="radio" required></div>
                                    <div class="col-lg-3">MD EMPRESA*</div>
                                    <div class="col-lg-3"><input id="diap" name="diap" v-model="sin.sin_diagnosticadapor" class="form-control" value="MD EMPRESA" type="radio" required></div>
                                    <div class="col-lg-3">MD PARTICULAR*</div>
                                    <div class="col-lg-3"><input id="diap" name="diap" v-model="sin.sin_diagnosticadapor" class="form-control" value="MD PARTICULAR" type="radio" required></div>
                                </div>
                            </div>    
                            <div class="col-lg-3">
                            <i>* Médicos con capacidad de diagnóstico sin competencia legal para determinar origen</i><br><br>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4">
                            <input class="form-control" v-model="sin.sin_nombremedico" type="text" id="medi" name="medi" placeholder="Apellidos y Nombres" required>
                        </div>
                        <div class="col-lg-4">
                            <input class="form-control" v-model="sin.sin_regmedico" type="text" id="regm" name="regm" placeholder="Registro médico" required><br>
                        </div>
                        <div class="col-lg-4">Fecha del diagnóstico
                            <input class="form-control" v-model="sin.sin_fechadiagnostico" type="date" id="fecd" name="fecd" required><br>
                        </div>
                        </div>  
                        <div class="row">
                        <div class="col-lg-4">¿Causó la muerte al trabajador?
                            <div class="row">
                                <div class="col-lg-3">Si</div>
                                <div class="col-lg-3"><input id="muer" name="muer" v-model="sin.sin_muerte" class="form-control" value="Si" type="radio"  required></div>
                                <div class="col-lg-3">No</div>
                                <div class="col-lg-3"><input id="muer" name="muer" v-model="sin.sin_muerte" class="form-control" value="No" type="radio"  required><br></div>
                            </div>
                            <br><br>
                        </div>
                        <div class="col-lg-4">Fecha de la muerte
                            <input class="form-control" type="date" id="fecm" name="fecm"><br>
                        </div>
                        </div>    <!--
                    </vsa-content>
              </vsa-item>
              <vsa-item>
                  <vsa-heading>!--><h2>IV. Información factores de riesgo</h2> <!--</vsa-heading>
                  <vsa-content> !-->
                    <h6>IV. INFORMACIÓN SOBRE FACTORES DE RIESGO ASOCIADOS CON LA ENFERMEDAD</h6>
                    <div class="row">
                    <div class="col-lg-4">Existe información?
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input id="ezai" name="ezai" class="form-control" value="Si" type="radio"  required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input id="ezai" name="ezai" class="form-control" value="No" type="radio"  required><br></div>
                        </div>
                        <br><br>
                    </div>
                    <div class="col-lg-8"><i>En caso afirmativo, indique los factores de riesgo a los cuales ha estado expuesto el trabajador y que se encuentren 
                        relacionados con la enfermedad, para cada uno de llos indique tiempo de exposición según se trate d elo actual o anterior, de acuerdo con 
                        los antecedentes y fundamentos tmoados en cuenta por el médico que diagnosticó la enfermedad y la historia laboral del trabajador</i><br><br>
                    </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-12">
                        <table cellspacing="2" cellpadding="2">
                            <tr style="background-color:#b82b37; color:white; padding: 10px; text-align: center;"><td></td>
                            <td>FACTOR DE RIESGO</td>
                            <td>¿CUÁLES FACTORES?</td>
                            <td>TIEMPO EXPOSICIÓN EMPRESA O CONTRATO</td>
                            <td>TIEMPO EXPOSICIÓN EMPRESA O CONTRATO</td>
                            </tr>
                            <tr>
                            <td>FÍSICO</td>
                            <td><input v-model="fac1.fac_clase" class="form-control" type="text" id="rif1" name="rif1"> </td>
                            <td><input v-model="fac1.fac_descripcion" class="form-control" type="text" id="rif2" name="rif2"> </td>
                            <td><input v-model="fac1.fac_tiempoexpactual" class="form-control" type="text" id="rif3" name="rif3"> </td>
                            <td><input v-model="fac1.fac_tiempoexpanteri" class="form-control" type="text" id="rif4" name="rif4"> </td>
                            </tr>
                            <tr>
                            <td>QUÍMICO</td>
                            <td><input v-model="fac2.fac_clase" class="form-control" type="text" id="riq1" name="riq1"> </td>
                            <td><input v-model="fac2.fac_descripcion" class="form-control" type="text" id="riq2" name="riq2"> </td>
                            <td><input v-model="fac2.fac_tiempoexpactual" class="form-control" type="text" id="riq3" name="riq3"> </td>
                            <td><input v-model="fac2.fac_tiempoexpanteri" class="form-control" type="text" id="riq4" name="riq4"> </td>
                            </tr>
                            <tr>
                            <td>BIOlÓGICO</td>
                            <td><input v-model="fac3.fac_clase" class="form-control" type="text" id="rib1" name="rib1"> </td>
                            <td><input v-model="fac3.fac_descripcion" class="form-control" type="text" id="rib2" name="rib2"> </td>
                            <td><input v-model="fac3.fac_tiempoexpactual" class="form-control" type="text" id="rib3" name="rib3"> </td>
                            <td><input v-model="fac3.fac_tiempoexpanteri" class="form-control" type="text" id="rib4" name="rib4"> </td>
                            </tr>
                            <tr>
                            <td>ERGONÓMICO</td>
                            <td><input v-model="fac4.fac_clase" class="form-control" type="text" id="rie1" name="rie1"> </td>
                            <td><input v-model="fac4.fac_descripcion" class="form-control" type="text" id="rie2" name="rie2"> </td>
                            <td><input v-model="fac4.fac_tiempoexpactual" class="form-control" type="text" id="rie3" name="rie3"> </td>
                            <td><input v-model="fac4.fac_tiempoexpanteri" class="form-control" type="text" id="rie4" name="rie4"> </td>
                            </tr>
                            <tr>
                            <td>PSICOSOCIAL</td>
                            <td><input v-model="fac5.fac_clase" class="form-control" type="text" id="rip1" name="rip1"> </td>
                            <td><input v-model="fac5.fac_descripcion" class="form-control" type="text" id="rip2" name="rip2"> </td>
                            <td><input v-model="fac5.fac_tiempoexpactual" class="form-control" type="text" id="rip3" name="rip3"> </td>
                            <td><input v-model="fac5.fac_tiempoexpanteri" class="form-control" type="text" id="rip4" name="rip4"> </td>
                            </tr>
                            <tr>
                            <td>AMBIENTAL</td>
                            <td><input v-model="fac6.fac_clase" class="form-control" type="text" id="ria1" name="ria1"> </td>
                            <td><input v-model="fac6.fac_descripcion" class="form-control" type="text" id="ria2" name="ria2"> </td>
                            <td><input v-model="fac6.fac_tiempoexpactual" class="form-control" type="text" id="ria3" name="ria3"> </td>
                            <td><input v-model="fac6.fac_tiempoexpanteri" class="form-control" type="text" id="ria4" name="ria4"> </td>
                            </tr>
                        </table>
                        <br>
                        </div><!-- col -->
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-12">DESCRIPCION DE LA ACTIVIDAD LABORAL DESEMPEÑADA (NEXO LABORAL):
                        <textarea class="form-control" v-model="sin.sin_descripcion" id="desc" name="desc" required></textarea><br>
                    </div><!-- col -->
                    </div><!-- row --> <!--
                  </vsa-content>
              </vsa-item>
              <vsa-item>
                  <vsa-heading> !--><h2>V. Información de evaluaciones médicas</h2><!--</vsa-heading>
                  <vsa-content> !-->
                    <h6>V. INFORMACIÓN SOBRE EVALUACIONES MÉDICAS OCUPACIONALES REALIZADAS AL TRABAJADOR</h6><br>
                    DETECCIÓN DE LA ENFERMEDAD POR ALGUNA DE LAS SIGUIENTES EVALUACIONES MÉDICAS OCUPACIONALES<br>
                    <i>(Sólo marque sí o no, si diagnosticó la enfermedad por alguna de las evaluaciones citadas, realizadas al trabajador</i><br><br>   
                    <div class="row">
                        <div class="col-lg-4">¿Evaluación MD Pre-Ocupacional?
                            <div class="row">
                                <div class="col-lg-3">Si</div>
                                <div class="col-lg-3"><input id="evap" name="evap" v-model="sin.sin_evalmedicapre" class="form-control" value="Si" type="radio"  required></div>
                                <div class="col-lg-3">No</div>
                                <div class="col-lg-3"><input id="evap" name="evap" v-model="sin.sin_evalmedicapre" class="form-control" value="No" type="radio"  required><br></div>
                            </div>
                            <br>
                        </div>
                        <div class="col-lg-4">¿Evaluación MD Periódica Ocupacional?
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input id="eper" name="eper" v-model="sin.sin_evalmedicaper" class="form-control" value="Si" type="radio"  required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input id="eper" name="eper" v-model="sin.sin_evalmedicaper" class="form-control" value="No" type="radio"  required><br></div>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-4">¿Evaluación de egreso?
                        <div class="row">
                            <div class="col-lg-3">Si</div>
                            <div class="col-lg-3"><input id="evae" name="evae" v-model="sin.sin_evalmedicaegre" class="form-control" value="Si" type="radio"  required></div>
                            <div class="col-lg-3">No</div>
                            <div class="col-lg-3"><input id="evae" name="evae" v-model="sin.sin_evalmedicaegre" class="form-control" value="No" type="radio"  required><br></div>
                        </div>
                        <br>
                    </div>
                    </div><!-- row --><!--
                  </vsa-content> 
              </vsa-item>
              <vsa-item>
                  <vsa-heading>!--><h2>VI. Monitoreos relacionados</h2><!--</vsa-heading>
                  <vsa-content> !-->
                    <h6>VI. MONITOREOS RELACIONADOS CON LA ENFERMEDAD</h6>  
                    <div class="row">
                        <div class="col-lg-12"><i>En el caso de que cualquiera de los siguientes hubiera sido fundamento para el diagnóstico de la enfermedad, 
                        deberán citarse y anotar la fecha de su realización en la casilla correspondiente</i><br><br>

                        <table cellspacing="2" cellpadding="2">
                            <tr style="background-color:#b82b37; color:white; padding: 10px; text-align: center;">
                            <td>MONITOREO DEL RIESGO</td>
                            <td width="15%">SI / NO</td>
                            <td>TIPO - CUÁLES - RESULTADO</td>
                            <td>FECHA</td>
                            </tr>
                            <tr>
                            <td>Mediciones ambientales</td>
                            <td>Si <input class="form-control" id="mon1" name="mon1" v-model="mon1.mon_respuesta" type="radio" value="Si" >
                            No <input class="form-control"  id="mon1" name="mon1" v-model="mon1.mon_respuesta" type="radio" value="No" > </td>
                            <td><input class="form-control" v-model="mon1.mon_resultado" type="text" id="mor2" name="mor2"> </td>
                            <td><input class="form-control" v-model="mon1.mon_fecha" type="date" id="mor3" name="mor3"> </td>
                            </tr>
                            <tr>
                            <td>Indicadores biológicos (Si está reportando COVID-19, indique si tiene prueba RT-PCR y su resultado)</td>
                            <td>Si <input class="form-control"  id="mon2" name="mon2" v-model="mon2.mon_respuesta" type="radio" value="Si" >
                            No <input class="form-control"  id="mon2" name="mon2" v-model="mon2.mon_respuesta" type="radio" value="No" > </td>
                            <td><input class="form-control" v-model="mon2.mon_resultado" type="text" id="mob2" name="mob2"> </td>
                            <td><input class="form-control" v-model="mon2.mon_fecha" type="date" id="mob3" name="mob3"> </td>
                            </tr>
                            <tr>
                            <td>Estudio de puesto de trabajo</td>
                            <td>Si <input class="form-control" id="mon3" name="mon3" v-model="mon3.mon_respuesta" type="radio" value="Si">
                            No <input class="form-control"  id="mon3" name="mon3" v-model="mon3.mon_respuesta" type="radio" value="No"> </td>
                            <td><input class="form-control" v-model="mon3.mon_resultado"  type="text" id="moe2" name="moe2"> </td>
                            <td><input class="form-control" v-model="mon3.mon_fecha" type="date" id="moe3" name="moe3"> </td>
                            </tr>
                            <tr>
                            <td>Otros</td>
                            <td>Si <input class="form-control" id="mon4" name="mon4" v-model="mon4.mon_respuesta" type="radio" value="Si" >
                            No <input class="form-control" id="mon4" name="mon4" v-model="mon4.mon_respuesta" type="radio" value="No" > </td>
                            <td><input class="form-control" v-model="mon4.mon_resultado" type="text"> </td>
                            <td><input class="form-control" v-model="mon4.mon_fecha" type="date"> </td>
                            </tr>
                        </table>
                        <br>

                        </div><!-- col -->
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h6 style="background-color:#b82b37; color:white; padding: 5px;">PERSONA RESPONSABLE DEL INFORME</h6><br>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-4">
                            <input class="form-control" v-model="sin.sin_responsable" placeholder="Apellidos y Nombres completos" type="text" id="resp" name="resp">
                        </div>    
                        <div class="col-lg-3">
                            <input class="form-control" v-model="sin.sin_cargoresponsable" placeholder="Cargo" type="tec1" id="cres" name="cres">
                        </div>    
                        <div class="col-lg-2">
                            <select class="form-control" id="tres" name="tres" required>
                                <option vaule="">Tipo identificación</option>
                                <option vaule="NI">NI</option>
                                <option vaule="CC" selected>CC</option>
                                <option vaule="CE">CE</option>
                                <option vaule="NU">NU</option>
                                <option vaule="PA">PA</option>
                            </select><br>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" v-model="sin.sin_documentoresponsable" class="form-control" id="dres" name="dres" placeholder="Documento"><br>
                        </div>
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-4">Fecha de diligenciamiento del informe<br>
                            <input class="form-control" v-model="sin.sin_fecha" type="date" id="fdil" name="fdil" required><br>
                        </div>    
                    </div><!-- row -->
                    <div class="row">
                        <div class="col-lg-6">Firma<br>
                        </div>
                        <div class="col-lg-6">Antes de continuar, por favor verifique que la información es correcta<br>
                        </div>    
                    </div>
                    <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6" align="right"><br>
                        <input type="submit" class="btn btn-info pd-x-20" value="Guardar Cambios" />
                    </div>
                </div>

                    
                    <!-- row --><!--
                  </vsa-content>
              </vsa-item>
            </vsa-list>!-->
            </form>
          </div>
        </div>
      </div>
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import siniestros1 from "../models/siniestros1";
import factoresr from "../models/factoresr";
import monitoreos from "../models/monitoreos";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "enfermedad_laboral",
    mounted() {
        this.getdatos();
        this.geteps();
        this.getarl();
        this.getafp();
        this.getdpt();
        this.getciu();
  },
  data() {
    return {
      idsieniestros:0,
      val: [],
      geps: [],
      garl: [],
      gafp: [],
      gdep: [],
      gciu: [],
      sin: new siniestros1("","","","","",
      "","","","","",
      "","","","","",
      "","","","","",
      "","","","","",
      "","","","","", "", "", ""),
      fac1: new factoresr("","","","","",""),
      fac2: new factoresr("","","","","",""),
      fac3: new factoresr("","","","","",""),
      fac4: new factoresr("","","","","",""),
      fac5: new factoresr("","","","","",""),
      fac6: new factoresr("","","","","",""),
      mon1: new monitoreos("","","","",""),
      mon2: new monitoreos("","","","",""),
      mon3: new monitoreos("","","","",""),
      mon4: new monitoreos("","","","",""),
    };
  },
  methods: {
    getdatos() {
      var documento = this.$route.query.cedula;
      axios.get(global.url + "vista_personas/Consulta/" + documento ).then((res) => {
        if (res.data) {
          this.val = res.data;
        }
      });
    },
    geteps(){
        axios.get(global.url + "eps/listar").then((res) => {
            if (res.data) {
                this.geps = res.data;
                console.log(this.geps);
            }
        });
    },
    getarl(){
        axios.get(global.url + "arls/listar").then((res) => {
            if (res.data) {
                this.garl = res.data;
                console.log(this.garl);
            }
        });
    },
    getafp(){
        axios.get(global.url + "afps/listar").then((res) => {
            if (res.data) {
                this.gafp = res.data;
                console.log(this.gafp);
            }
        });
    },
    getdpt(){
        axios.get(global.url + "departamentos/listar").then((res) => {
            if (res.data) {
                this.gdep = res.data;
                console.log(this.gdep);
            }
        });
    },
    getciu(){
        axios.get(global.url + "ciudades/listar").then((res) => {
            if (res.data) {
                this.gciu = res.data;
                console.log(this.gciu);
            }
        });
    },
    guardar() {
        var me=this.sin;

        this.sin.personas_idpersonas= this.val.idpersonas;
        this.sin.ciudades_idciudades = this.val.idciudades;
        this.sin.sin_fecha = me.sin_fecha;
        this.sin.sin_tipoatep = "FUREL";
        this.sin.sin_jornada = "";
        this.sin.sin_laboral = ""; 
        this.sin.sin_otra =  "";
        this.sin.sin_codigo = me.sin_codigo;
        this.sin.sin_tiempolaborprev = ""; 
        this.sin.sin_causal = "";
        this.sin.sin_muerte = me.sin_muerte;
        this.sin.sin_sitio = "";
        this.sin.sin_tipolesion = "";
        this.sin.sin_parteafectada = "";
        this.sin.sin_agente = "";
        this.sin.sin_lugar = "";
        this.sin.sin_mecanismo = "";
        this.sin.sin_descripcion = me.sin_descripcion; 
        this.sin.sin_responsable = me.sin_responsable;
        this.sin.sin_nombreresponsable = me.sin_responsable;
        this.sin.sin_cargoresponsable = me.sin_cargoresponsable;
        this.sin.sin_documentoresponsable = me.sin_documentoresponsable;
        this.sin.sin_fechadiagnostico = me.sin_fechadiagnostico;
        this.sin.sin_diagnosticadapor = me.sin_diagnosticadapor;
        this.sin.sin_diagnostico = me.sin_diagnostico; 
        this.sin.sin_regmedico = me.sin_regmedico;
        this.sin.sin_nombremedico = me.sin_nombremedico;
        this.sin.sin_evalmedicapre = me.sin_evalmedicapre;
        this.sin.sin_evalmedicaper = me.sin_evalmedicaper;
        this.sin.sin_evalmedicaegre = me.sin_evalmedicaegre;
        this.sin.sin_zona = me.sin_zona;

      axios
        .post(global.url + "siniestros/Crear/" , this.sin)
        .then((res) => {
            console.log(res);    
            axios.get(global.url + "siniestros/consulta/" + this.val.idpersonas).then((res) => {
                if (res.data) {
                    this.idsieniestros=res.data.idsieniestros;
                    if(this.fac1.fac_clase!=""){   
                        this.fac1.siniestros_idsiniestros=this.idsieniestros;
                        this.fac1.factores_idfactores_riesgo=1;
                        console.log(this.fac1);  
                        axios
                            .post(global.url + "factoresrs/Crear/" , this.fac1)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.fac2.fac_clase!=""){   
                        this.fac2.siniestros_idsiniestros=this.idsieniestros;
                        this.fac2.factores_idfactores_riesgo=2;
                        console.log(this.fac2);  
                        axios
                            .post(global.url + "factoresrs/Crear/" , this.fac2)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.fac3.fac_clase!=""){   
                        this.fac3.siniestros_idsiniestros=this.idsieniestros;
                        this.fac3.factores_idfactores_riesgo=3;
                        console.log(this.fac3);  
                        axios
                            .post(global.url + "factoresrs/Crear/" , this.fac3)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.fac4.fac_clase!=""){   
                        this.fac4.siniestros_idsiniestros=this.idsieniestros;
                        this.fac4.factores_idfactores_riesgo=4;
                        console.log(this.fac4);  
                        axios
                            .post(global.url + "factoresrs/Crear/" , this.fac4)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.fac5.fac_clase!=""){   
                        this.fac5.siniestros_idsiniestros=this.idsieniestros;
                        this.fac5.factores_idfactores_riesgo=5;
                        console.log(this.fac5);  
                        axios
                            .post(global.url + "factoresrs/Crear/" , this.fac5)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.fac6.fac_clase!=""){   
                        this.fac6.siniestros_idsiniestros=this.idsieniestros;
                        this.fac6.factores_idfactores_riesgo=6;
                        console.log(this.fac6);  
                        axios
                            .post(global.url + "factoresrs/Crear/" , this.fac6)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }

                    if(this.mon1.mon_respuesta!=""){   
                        this.mon1.siniestros_idsiniestros=this.idsieniestros;
                        this.mon1.tipos_idtipos_monitoreo=1;
                        console.log(this.mon1);  
                        axios
                            .post(global.url + "monitoreos/Crear/" , this.mon1)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.mon2.mon_respuesta!=""){   
                        this.mon2.siniestros_idsiniestros=this.idsieniestros;
                        this.mon2.tipos_idtipos_monitoreo=2;
                        console.log(this.mon2);  
                        axios
                            .post(global.url + "monitoreos/Crear/" , this.mon2)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.mon3.mon_respuesta!=""){   
                        this.mon3.siniestros_idsiniestros=this.idsieniestros;
                        this.mon3.tipos_idtipos_monitoreo=3;
                        console.log(this.mon3);  
                        axios
                            .post(global.url + "monitoreos/Crear/" , this.mon3)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }
                    if(this.mon4.mon_respuesta!=""){   
                        this.mon4.siniestros_idsiniestros=this.idsieniestros;
                        this.mon4.tipos_idtipos_monitoreo=1;
                        console.log(this.mon4);  
                        axios
                            .post(global.url + "monitoreos/Crear/" , this.mon4)
                            .then((res) => {
                                console.log(res);
                            })
                            .catch((error) => {
                                console.log(error);
                        });
                    }

                }
            });
            swal("Siniestro creado", "Se ha creado correctamente el siniestro", "success");
            this.$router.push("./radicacion");
        })
        .catch((error) => {
            console.log(this.sin);
          swal("Siniestro no creado", "Hubo un error al crear el siniestro", "Error");
          console.log(error);
          this.$router.push("./radicacion");
        });
    },
  }
};
</script>