<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-pagetitle">
      <h5 class="am-title">EPS</h5>
      <form id="searchBar" class="search-bar" action="inicio">
        <div class="form-control-wrapper">
          <input
            type="search"
            class="form-control bd-0"
            placeholder="Buscar..."
          />
        </div>
        <!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange">
          <i class="fa fa-search" style="color: #fff"></i>
        </button>
      </form>
      <!-- search-bar -->
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">EPS</h6>

          <router-link
            class="btn btn-primary btn-block mg-b-2"
            style="width: 250px"
            to="/creareps"
          >
            <i class="icon ion-plus-circled"></i> Agregar EPS
          </router-link>

          <div class="table-wrapper" id="tablas">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-20p">Código</th>
                  <th class="wd-40p">Nombre EPS</th>
                  <th class="wd-20p">Editar</th>
                  <th class="wd-20p">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="eps in eps1" v-bind:key="eps.ideps">
                  <td>{{ eps.eps_codigo }}</td>
                  <td>{{ eps.eps_nombre }}</td>
                  <td align="center">
                    <router-link
                      :to="{ name: 'editaeps', params: { id: eps.ideps } }"
                    >
                      <i class="icon ion-edit"></i
                    ></router-link>
                  </td>
                  <td align="center">
                    <a href="#" @click="deletereg(eps.ideps)">
                      <i class="icon ion-trash-b"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-wrapper -->
        </div>
        <!-- card -->
      </div>
      <!-- am-pagebody -->
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "eps",
  mounted() {
    this.getdatos();
  },
  data() {
    return {
      eps1: [],
    };
  },
  methods: {
    getdatos() {
      axios.get(global.url + "eps/listar").then((res) => {
        if (res.data) {
          this.eps1 = res.data;
        }
      });
    },
    deletereg(id) {
      swal({
        title: "Está seguro?",
        text: "Una vez lo elimine no podrá recuperarlo!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete(global.url + "eps/Eliminar/" + id).then((res) => {
            console.log(res);
            swal("EPS eliminada", "Se ha eliminado la EPS", "success");
            this.getdatos();
          });
        } else {
          swal("Eliminación cancelada");
        }
      });
    },
  },
};
</script>