<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-pagetitle">
      <h5 class="am-title">Consultas</h5>
      <form id="searchBar" class="search-bar" action="inicio">
        <div class="form-control-wrapper">
          <input
            type="search"
            class="form-control bd-0"
            placeholder="Buscar..."
          />
        </div>
        <!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange">
          <i class="fa fa-search" style="color: #fff"></i>
        </button>
      </form>
      <!-- search-bar -->
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">Consultas</h6>
          <form @submit.prevent="consultas()" name="forma">

            <div class="row">
                <div class="col-lg-3">Fecha incial
                    <input v-model="fecha1" class="form-control" type="date">
                </div>
                <div class="col-lg-3">Fecha final
                    <input v-model="fecha2" class="form-control" type="date">
                </div>
                <div class="col-lg-3">Estado
                    <select v-model="estado" class="form-control">
                    <option>Seleccione...</option>
                    <option v-for="est in estados" :key="est" :value="est">
                      {{ est }}
                    </option>
                  </select>

                </div>
                <div class="col-lg-3">
                    <br><input type="submit" class="btn btn-info pd-x-20" value="Consultar">
                </div>
            </div>
            <br><br>
          </form>

          <div class="table-wrapper" id="tablas">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th>Nombre</th><th>Identificación</th><th>Tipo de siniestro</th><th>Fecha</th>
                  <th>Estado</th><th>Aceptar</th><th>Objetar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="sin in siniestros" v-bind:key="sin.idsiniestros">
                  <td>{{ sin.per_primernombre }} {{ sin.per_primerapellido }}</td>
                  <td>{{ sin.per_numeroid }}</td><td>{{ sin.sin_tipoatep }}</td>
                  <td>{{ sin.sin_fecha | moment('DD MMM YYYY')}}</td>
                  <td align='center'>
                      <div v-if="sin.sin_estado=='ACEPTADO'" style="background-color:#1ECD1A; color:#FFF;">
                        {{ sin.sin_estado }}
                      </div>
                      <div v-else-if="sin.sin_estado=='OBJETADO'" style="background-color:#EF2C13; color:#FFF;">
                        {{ sin.sin_estado }}
                      </div>
                      <div v-else style="background-color:#DFAF13; color:#FFF;">
                        {{ sin.sin_estado }}
                      </div>
                  </td>
                  <td align="center">
                     <a href="#" @click="cambio_estado(sin.idsieniestros, 'ACEPTADO')"
                     class="btn btn-primary btn-block mg-b-2" 
                     style="width:100px; background-color:#1ECD1A; color:#FFF;">
                     ACEPTAR</a>
                  </td>
                  <td align="center">
                     <a href="#" @click="cambio_estado(sin.idsieniestros, 'OBJETADO')"
                     class="btn btn-primary btn-block mg-b-2" 
                     style="width:100px; background-color:#EF2C13; color:#FFF;">
                     OBJETAR</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-wrapper -->
        </div>
        <!-- card -->
      </div>
      <!-- am-pagebody -->
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import axios from "axios";
import global from "../global";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';
import swal from "sweetalert";

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "evaluacion",
  mounted() {
    this.getdatos();
  },
  data() {
    return {
      siniestros: [],
      fecha1:'',
      fecha2:'',
      estado:'RESERVADO',
      estados: ['RESERVADO', 'ACEPTADO', 'OBJETADO']
    };
  },
  methods: {
    cambio_estado(id, estado){

        console.log(id,estado);
      swal({
        title: "Está seguro?",
        text: "Una vez cambie el estado no podrá recuperarlo!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.put(global.url + "siniestros/Estado/" + id + "/" + estado + "/obs").then((res) => {
            console.log(res);
            swal("Se ha actualizado el estado a "+ estado , "Se ha actualizado el esatado de siniestro", "success");
            this.getdatos();
          });
        } else {
          swal("Se ha cancelado el cambio de estado");
        }
      });
    },
    getdatos() {

      var fec1 = new Date().toJSON().slice(0,4).replace(/-/g,'-')+"-01-01";
      var fec2 = new Date().toJSON().slice(0,4).replace(/-/g,'-')+"-12-31";

      console.log(fec1);

      if(this.fecha1==""){
          this.fecha1=fec1;
      }
      if(this.fecha2=="")
      {
          this.fecha2=fec2;
      }

      axios.get(global.url + "vista_siniestros/Consulta_estado/"
      + this.estado + "/" + this.fecha1 + "/" + this.fecha2 ).then((res) => {
        if (res.data) {
          this.siniestros = res.data;
          console.log(res.data);
        }
      });

    },
  },
};
</script>