<template>
  <div class="am-footer">
    <br />
    <span>Copyright &copy;. 2021 Xmartic.</span>
  </div>
  <!-- am-footer -->
</template>

<script>
export default {
  name: "Footercomponent",
};
</script>