<template>
        <div class="am-header">
      <div class="am-header-left">
        <a href="inicio" class="am-logo">
          <img src='../assets/logoactiva.jpeg' height="40px"></a>
      </div><!-- am-header-left -->

      <div class="am-header-right">
      </div><!-- am-header-right -->
    </div><!-- am-header -->

</template>

<script>
export default {
    name: "Headercomponent"
}
</script>