<template>
  <div class="hello">


  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  components: {  },
  props: {
    msg: String
  },
  data(){
    return {
      texto: "hola mundo desde componente"
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
