<template>
    <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <footercomponent></footercomponent>
    </div>
</template>

<script>
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';
export default {
    components:{
        Headercomponent, Menu, Footercomponent
    },
    name:"inicio"
}
</script>