<template>
<div>
  <Headercomponent1></Headercomponent1>
  <div class="am-mainpanel">
    <div class="am-pagebody">
      <div class="row" style="backgroud-color:#FFF">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <h2 class="tx-gray-800 mg-b-25">Bienvenido</h2>
          <form @submit.prevent="ingresar()" name="forma">
            <div class="form-group">
              <label class="form-control-label">Email:</label>
              <input v-model="email" class="form-control" required placeholder="Email" >
            </div>
            <div class="form-group">
              <label class="form-control-label">Contraseña:</label>
              <input type="password" v-model="password" required class="form-control" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-block">Ingresar</button>
            <br><br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <Footercomponent></Footercomponent>
</div>
</template>
<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import Footercomponent from './FooterComponent.vue';
import Headercomponent1 from './Headercomponent1.vue';

export default {
  components:{
    Headercomponent1, Footercomponent
  },
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods : {
    ingresar(){
      axios
        .post(global.url + "users/login/", {email: this.email, password: this.password})
        .then((res) => {
          console.log("Ok",res);

//          return res.data;
//        })
//        .then((data) => {
//          this.$store.dispatch("guardarToken", data.token)
           this.$router.push("./inicio");
          

        })
        .catch((error) => {
          swal("Login incorrecto", "Usuarrio o password incorrecto", "error");
          console.log(error);
        });

    }
  }
};
</script>