<template>
  <sidebar-menu :menu="menu" @collapse="true" />
</template>

<script>
export default {
  data() {
    return {
      menu: [
        {
          header: false,
          title: "Main Navigation",
          // component: componentName
          visibleOnCollapse: true,
        },
        {
          href: "/inicio",
          title: "Inicio",
          icon: "fa fa-home",
          /* disabled: false, badge: { text: 'new', // class:'' }*/
        },
        {
          title: "Configuración",
          icon: "fa fa-cog",
          child: [
            {
              href: "/roles",
              title: "Roles de acceso",
            },
            {
              href: "/usuarios",
              title: "Usuarios",
            },
            {
              href: "/departamentos",
              title: "Departamentos",
            },
            {
              href: "/ciudades",
              title: "Ciudades",
            },
          ],
        },
        {
          title: "Parametrización",
          icon: "fa fa-list",
          child: [
            {
              href: "/factores",
              title: "Factores de riesgo",
            },
            {
              href: "/diagnosticos",
              title: "Diagnósticos",
            },
            {
              href: "/ips",
              title: "IPS",
            },
            {
              href: "/eps",
              title: "EPS",
            },
            {
              href: "/arl",
              title: "ARL",
            },
            {
              href: "/tipos_monitoreo",
              title: "Tipos de Monitoreo",
            },
            {
              href: "/servicios",
              title: "Servicios",
            },
            {
              href: "/empresas",
              title: "Empresas",
            },
            {
              href: "/personas",
              title: "Personas",
            },
          ],
        },
        {
          title: "Siniestros",
          icon: "fa fa-ambulance",
          child: [
            {
              href: "/radicacion",
              title: "Radicación",
            },
            {
              href: "/consulta",
              title: "Consulta",
            },
            {
              href: "/evaluacion",
              title: "Evaluación",
            },
          ],
        },
        {
          title: "Reportes",
          icon: "fas fa-chart-line",
          child: [
            {
              href: "/reportes1",
              title: "Reportes 1",
            },
            {
              href: "/reportes2",
              title: "Reportes 2",
            },
            {
              href: "/reportes3",
              title: "Reportes 3",
            },
          ],
        },
      ],
    };
  },
};
</script>
