<template>
  <div class="am-mainpanel">
    {{ subtitulo }}<br />
    {{ id_url }}
    <br />
    <button @click="funcion1()">Ver</button>

    <router-link to="/ciudades" active-class="active">Ciudades</router-link>
    <br />
    <router-link to="/roles">Roles</router-link>
    <br />
    <router-link :to="{ name: 'otra', params: { id: 'cafilo2' } }"
      >Otra</router-link
    >
    <br /><br />
    <h2>Reactividad</h2>
    <input type="text" v-model="nombre" />
    {{ nombre }}
    <h2>Directivas condicionales</h2>

    <input type="number" v-model="edad" />
    Mi edad es <strong>{{ edad }}</strong
    ><br /><br />

    <p style="color: green" v-if="edad && edad >= 18 && edad < 40">
      Eres mayor de edad
    </p>
    <p style="color: blue" v-else-if="edad && edad >= 40">Eres sub 50</p>
    <p style="color: red" v-else>Eres menor de edad</p>

    <h2>Directiva iterativa</h2>
    <ul>
      <li v-for="pelicula in peliculas" :key="pelicula">{{pelicula}}</li>
    </ul>

  </div>
</template>

<script>
export default {
  name: "micomponente",
  created() {
    console.log("Creado");
  },
  mounted() {
    this.id_url = this.$route.params.id;
    console.log("Montado");
  },
  updated() {
    console.log("Actualizado");
  },
  destroyed() {
    console.log("Eliminado");
  },
  data() {
    return {
      id_url: "null",
      nombre: "Lucas",
      subtitulo: "soy el subtitulo",
      edad: 18,
      peliculas: ["pelicula 1", "Pelicula 2", "Pelicula 3"],
      };
  },
  methods: {
    funcion1() {
      this.nombre = "Cafilo";
      console.log("asdas", this.nombre);
    },
  },
};
</script>