<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-pagetitle">
      <h5 class="am-title">
        Portal de resgistro de Accidentes de Trabajo y Enfermedades Laborales
      </h5>
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40" style="text-align: center">
          <h6 class="card-body-title">
            Portal de resgistro de Accidentes de Trabajo y Enfermedades Laborales</h6>
          <br /><br />
          <center>
            <div style="width: 30%">
              <form :action="this.ruta">
                <input class="form-control" type="text" required name="cedula" placeholder="Documento de identidad" />
                <br /><br />
                <select class="form-control" v-on:change="cambio()" v-model="tipo" >
                  <option selected>Seleccione el tipo de radicación</option>
                  <option>Accidente laboral</option>
                  <option>Enfermedad laboral</option>
                </select><br /><br />
                <input type="submit" class="btn btn-primary btn-block mg-b-2" style="width: 250px" 
                  value="Ingresar" />
              </form>
            </div>
          </center>
          <div class="table-wrapper" id="tablas"></div>
          <!-- table-wrapper -->
        </div>
        <!-- card -->
      </div>
      <!-- am-pagebody -->
    </div>
    <Footercomponent></Footercomponent>
  </div>
</template>
<script>
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "radicacion",
  mounted() {},
  data() {
    return {
        ruta: "./accidente_laboral", 
        tipo: "",
        cedula:""
    };
  },
  methods: {
      cambio(){
          if(this.tipo=="Accidente laboral"){ this.ruta="./accidente_laboral"; }
          else { this.ruta="./enfermedad_laboral"; }
      }

  },
};
</script>