<template>
  <div>
    <Headercomponent></Headercomponent>
    <Menu></Menu>
    <div class="am-pagetitle">
      <h5 class="am-title">Roles de acceso</h5>
      <form id="searchBar" class="search-bar" action="inicio">
        <div class="form-control-wrapper">
          <input
            type="search"
            class="form-control bd-0"
            placeholder="Buscar..."
          />
        </div>
        <!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange">
          <i class="fa fa-search" style="color: #fff"></i>
        </button>
      </form>
      <!-- search-bar -->
    </div>

    <div class="am-mainpanel">
      <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
          <h6 class="card-body-title">Roles de usuario</h6>

          <router-link
            class="btn btn-primary btn-block mg-b-2"
            style="width: 250px"
            to="/creaarrol"
          >
            <i class="icon ion-plus-circled"></i> Agregar Rol
          </router-link>

          <div class="table-wrapper" id="tablas">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-50p">Rol nombre</th>
                  <th class="wd-25p">Editar</th>
                  <th class="wd-25p">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="rol in troles" v-bind:key="rol.idrol">
                  <td>{{ rol.rol_nombre }}</td>
                  <td align="center">
                    <router-link
                      :to="{ name: 'editarrol', params: { id: rol.idroles } }"
                    >
                      <i class="icon ion-edit"></i
                    ></router-link>
                  </td>
                  <td align="center">
                    <a href="#" @click="deleteroles(rol.idroles)">
                      <i class="icon ion-trash-b"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-wrapper -->
        </div>
        <!-- card -->
      </div>
      <!-- am-pagebody -->
    </div>
  <Footercomponent></Footercomponent>
  </div>
</template>

<script>
import axios from "axios";
import global from "../global";
import swal from "sweetalert";
import Headercomponent from './Headercomponent.vue';
import Menu from './Menu.vue';
import Footercomponent from './FooterComponent.vue';

export default {
  components:{
      Headercomponent, Menu, Footercomponent
  },
  name: "roles",
  mounted() {
    this.getroles();
  },
  data() {
    return {
      troles: [],
    };
  },
  methods: {
    getroles() {
      axios.get(global.url + "roles/listar").then((res) => {
        if (res.data) {
          this.troles = res.data;
        }
      });
    },
    deleteroles(id) {
      swal({
        title: "Está seguro?",
        text: "Una vez lo elimine no podrá recuperarlo!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete(global.url + "roles/Eliminar/" + id).then((res) => {
            console.log(res);
            swal("Rol Eliminado", "Se ha eliminado el rol", "success");
            this.getroles();
          });
        } else {
          swal("Eliminación cancelada");
        }
      });
    },
  },
};
</script>