.tituls {
  color:#b82b37;
}

.colorback{
  background-color: #051C2C;
}

.botones1 {
  width: 250px;
}

.izqq {
  text-align: left;
}

.izqq1 {
  text-align: left;
  padding: 3px;
}

.derechas {
  text-align: right;
  display: block;
  left: 2px;
}

.titul2 {
  background-color:#b82b37; color:white; padding: 5px;
}

.pequeno {
  font-size:10px;
}

.amarillo {
  background-color:#DFAF13; color:#FFF;
}

.rojo {
  background-color:#EF2C13; color:#FFF;
}

.verde {
  background-color:#1ECD1A; color:#FFF;
}

.botonok {
  width:100px; background-color:#1ECD1A; border-color: #1ECD1A; height: 35px; color:#FFF;
}

.botonmal {
  width:100px; background-color:#EF2C13; border-color: #EF2C13; height: 35px; color:#FFF;
}